<style>
#privacy{ background-color:#fff; text-align:left; padding:100px 0px; }
.container{ max-width:728px; }
h1{ font-size:3em; margin-bottom:60px; margin-top:50px; }
h2{ font-size:1.5em; font-weight:700; margin-top:15px; }
a{ color:var(--primary-color); font-weight:700; }

table{ margin:40px 0px; }
th{ color:var(--font-color); padding:3px 0px; }
tr:first-child{ border-bottom:none; }
tr{ border-bottom:1px dotted #05416b55; margin:0px 10px; }
td{ padding:10px 0px; }
</style>

<div id="privacy">
  <div class="container">
    <h1>Personas datu apstrādes politika</h1>

    <h2>1. Personas datu apstrādes politikas mērķis</h2>
    Personas datu apstrādes politikas mērķis ir sniegt fiziskai personai (datu subjektam) informāciju par personas datu apstrādes nolūku, apjomu, aizsardzību un apstrādes termiņu datu iegūšanas laikā un apstrādājot datu subjekta personas datus.
    
    <h2>2. Personas datu pārzinis un tā kontaktinformācija</h2>
    Personas datu apstrādes pārzinis Akciju sabiedrība Tīrīga (turpmāk – TĪRĪGA AS), vienotās reģistrācijas Nr. 40203215318, juridiskā adrese Vietalvas ielā 5A, Rīga, LV-1009, tālrunis <a href="tel:1848">1848</a>,<br /> 
    e-pasts: <a href="mailto:info@tiriga.lv" target="_blank">info@tiriga.lv</a> .<br /><br /> 

    TĪRĪGA AS kontaktinformācija ar personas datu apstrādi saistītajos jautājumos ir Klientu apkalpošanas centrs. Zvanot pa tālruni <a href="tel:1848">1848</a>, rakstot e-pastu uz <a href="mailto:info@tiriga.lv" target="_blank">info@tiriga.lv</a> vai vēršoties TĪRĪGA AS juridiskajā adresē, var uzdot jautājumus par personas datu apstrādi. Pieprasījumu par savu tiesību īstenošanu var iesniegt saskaņā ar šī dokumenta 12. punktu.
    
    <h2>3. Dokumenta piemērošanas sfēra</h2>
    Personas dati ir jebkāda informācija par identificētu vai identificējamu fizisku personu. Personas datu definīcijas, paskaidrojumi un datu kategorijas norādītas Pielikumā Nr.1.<br /> 
    Privātuma politika tiek piemērota privātuma un personas datu aizsardzības nodrošināšanai attiecībā uz:<br /> 
    • fizisku personu - klientu, darbinieku un citu pakalpojumu lietotāju (tajā skaitā, potenciālajiem, bijušajiem un esošajiem), kā arī trešajām personām, kuras saistībā ar pakalpojumu sniegšanu fiziskai personai (Klientam) saņem vai nodod TĪRĪGA AS jebkādu informāciju (tajā skaitā, kontaktpersonas, maksātāji u.c.);<br /> 
    • TĪRĪGA AS biroju, Klienta apkalpošanas centra apmeklētājiem; <br /> 
    • TĪRĪGA AS biroja darbiniekiem, kur tiek veikta videonovērošana;<br /> 
    • TĪRĪGA AS uzturēto interneta mājaslapu apmeklētājiem (turpmāk - Klienti).<br /> 
    TĪRĪGA AS rūpējas par Klientu privātumu un personas datu aizsardzību, ievērojot Klientu tiesības uz personas datu apstrādes likumību saskaņā ar piemērojamajiem tiesību aktiem - Fizisko personu datu aizsardzības likumu, Eiropas Parlamenta un padomes 2016. gada 27. aprīļa Regulu 2016/679 par fizisku personu aizsardzību attiecībā uz personas datu apstrādi un šādu datu brīvu apriti (Regula) un citiem piemērojamajiem tiesību aktiem privātuma un datu apstrādes jomā.<br /> 
    Privātuma politika ir attiecināma uz datu apstrādi neatkarīgi no tā, kādā formā un/vai vidē Klients sniedz personas datus (TĪRĪGA AS interneta piederošās mājaslapās, papīra formātā vai telefoniski) un kādās uzņēmuma sistēmās vai papīra formā tie tiek apstrādāti.<br /> 
    Attiecībā uz specifiskiem datu apstrādes veidiem (piemēram, sīkdatņu apstrādi u.c.), vidi, nolūkiem var tikt noteikti papildu, specifiski noteikumi, par ko Klients tiek informēts brīdī, kad viņš sniedz attiecīgus datus TĪRĪGA AS.
    
    <h2>4. Personas datu apstrādes nolūki</h2>
    TĪRĪGA AS apstrādā personas datus pakalpojumu sniegšanai un preču pārdošanai:<br /> 
    • klientu identificēšanai un piedāvājuma sagatavošanai;<br /> 
    • līguma sagatavošanai, noslēgšanai, papildināšanai, pārslēgšanai un laušanai;<br /> 
    • klientu apkalpošanai;<br /> 
    • preču (konteineru) piegādei un pakalpojumu sniegšanai (līguma saistību izpildei);<br /> 
    • pakalpojumu darbības nodrošināšanai / uzturēšanai;<br /> 
    • preču un pakalpojumu uzlabošanai, jaunu preču un pakalpojumu attīstībai;<br /> 
    • pakalpojumu lietošanas veicināšanai, reklamēšanai un izplatīšanai jeb komerciāliem nolūkiem;<br /> 
    • iebildumu izskatīšanai un apstrādei;<br /> 
    • klientu apmierinātības mērījumiem, noturēšanai, lojalitātes celšanai;<br /> 
    • norēķinu administrēšanai; <br /> 
    • kredītspējas novērtēšanai, kredītu uzraudzībai; <br /> 
    • parādu atgūšanai un piedziņai; <br /> 
    • mājaslapu un uzturēšanai un darbības uzlabošanai.<br /> 
    TĪRĪGA AS apstrādā personas datus biznesa plānošanai un analīzei:<br /> 
    • uzskaitei, plānošanai un statistikai;<br /> 
    • datu kvalitātes nodrošināšanai un efektivitātes mērīšanai;<br /> 
    • tirgus un sabiedriskā viedokļa pētījumu veikšanai; <br /> 
    • atskaišu sagatavošanai;<br /> 
    • klientu aptauju veikšanai.<br /> 
    TĪRĪGA AS apstrādā personas datus informācijas sniegšanai valsts pārvaldes iestādēm un operatīvās darbības subjektiem ārējos normatīvajos aktos noteiktajos gadījumos un apjomā, kā arī citos specifiskos nolūkos, par kuriem Klients tiek informēts brīdī, kad viņš sniedz attiecīgus datus TĪRĪGA AS.
    
    <h2>5. Personas datu apstrādes tiesiskais pamats</h2>
    TĪRĪGA AS apstrādā Klienta personas datus, balstoties uz šādiem tiesiskajiem pamatiem:<br /> 
    • līguma noslēgšanai un izpildei - lai noslēgtu līgumu pēc Klienta pieteikuma un nodrošinātu tā izpildi;<br /> 
    • normatīvo aktu izpildei - lai izpildītu TĪRĪGA AS saistošos ārējos normatīvajos aktos noteiktos pienākumus;<br /> 
    • saskaņā ar Klienta - datu subjekta piekrišanu;<br /> 
    • likumīgās (leģitīmās) intereses - lai realizētu no TĪRĪGA AS un Klienta starpā pastāvošajām saistībām vai noslēgtā līguma, vai likuma izrietošas TĪRĪGA AS leģitīmās (likumīgās) intereses.<br /> 
    TĪRĪGA AS likumīgās (leģitīmās) intereses ir:<br /> 
    • veikt komercdarbību;<br /> 
    • sniegt atkritumu savākšanas un šķirošanas pakalpojumus;<br /> 
    • pārbaudīt Klienta identitāti pirms līguma noslēgšanas vai klienta apkalpošanas laikā – telefoniski, elektroniski, klātienē;<br /> 
    nodrošināt līguma saistību izpildi;<br /> 
    • novērst nepamatotus finansiālus riskus savai komercdarbībai (t.sk., veikt kredītriska novērtējumu pirms preču un pakalpojumu pārdošanas un līguma izpildes laikā);<br /> 
    • saglabāt Klientu pieteikumus un iesniegumus par preču pirkumu un pakalpojumu sniegšanu, citus pieteikumus un iesniegumus, piezīmes par tiem, t.sk., kas veikti mutiski, zvanot uz zvanu centriem, interneta mājas lapās un pašapkalpošanās vidē;<br /> 
    • analizēt TĪRĪGA AS mājaslapu, interneta vietņu un mobilo lietojumu darbību, izstrādāt un ieviest to uzlabojumus;<br /> 
    • administrēt Klienta kontu TĪRĪGA AS mājaslapās, interneta vietnēs un mobilajās lietotnēs;<br /> 
    • veikt darbības Klientu noturēšanai;<br /> 
    • segmentēt Klientu datu bāzi pakalpojumu efektīvākai nodrošināšanai;<br /> 
    • izstrādāt un attīstīt preces un pakalpojumus;<br /> 
    • reklamēt savas preces un pakalpojumus, nosūtot komerciālus paziņojumus;<br /> 
    • nosūtīt citus ziņojumus par līguma izpildes gaitu un līguma izpildei būtiskiem notikumiem, kā arī veikt Klientu aptaujas par precēm un pakalpojumiem un to lietošanas pieredzi;<br /> 
    • informēt par izmaiņām pakalpojuma sniegšanas kārtībā un cenrādī;<br /> 
    • Informēt Klientus par jaunumiem nozarē;<br /> 
    • nodrošināt vides izglītības aktivitātes;<br /> 
    • nodrošināt atkritumu tvertņu uzturēšanu;<br /> 
    • novērst krāpniecību;<br /> 
    • nodrošināt korporatīvo pārvaldību, finanšu un biznesa uzskaiti un analītiku;<br /> 
    • nodrošināt efektīvus uzņēmuma pārvaldības procesus;<br /> 
    • pakalpojumu sniegšanas un preču pārdošanas, un piegādes efektivitāti;<br /> 
    • nodrošināt un uzlabot pakalpojumu kvalitāti;<br /> 
    • administrēt maksājumus;<br /> 
    • administrēt savlaicīgi neveiktus maksājumus;<br /> 
    • vērsties valsts pārvaldes un operatīvās darbības iestādēs un tiesā savu tiesisko interešu aizsardzībai;<br /> 
    • informēt sabiedrību par savu darbību.
    
    <h2>6. Datu apstrādes noteikumi no pārziņa citam datu pārzinim</h2>
    Šie datu apstrādes noteikumi ir piemērojami tikai personas datu apstrādei, kas izriet no līgumiem par pakalpojumiem, kurus TĪRĪGA AS sniedz cita juridiskā persona.<br /> 
    Abas Puses darbojas kā neatkarīgs datu pārzinis.<br /> 
    Puses veic atbilstošus tehniskus un organizatoriskus pasākumus, lai nodrošinātu personas datu apstrādes drošību.<br /> 
    Puses nekavējoties, bet ne vēlāk kā 2 (divu) darba dienu laikā, informē otru Pusi par saņemto datu subjekta pieprasījumu, ja tas attiecas vai ietekmē otras Puses veikto personas datu apstrādi (piemēram, pieprasījums ierobežot datu apstrādi) vai ietekmē personas datus (piemēram, pieprasījums labot datus). Puses labā ticībā savstarpēji sadarbojas (piemēram, savstarpēji apmainoties ar informāciju par personas datu apstrādi), lai izpildītu pamatotus datu subjektu pieprasījumus, kā arī lai nodrošinātu datu precizitāti visu datu apstrādes laiku.
    
    <h2>7. Personas datu apstrāde</h2>
    TĪRĪGA AS apstrādā Klienta datus, izmantojot mūsdienu tehnoloģiju iespējas, ņemot vērā pastāvošos privātuma riskus un TĪRĪGA AS saprātīgi pieejamos organizatoriskos, finansiālos un tehniskos resursus.<br /> 
    TĪRĪGA AS attiecībā uz Klientu var veikt automatizētu lēmumu pieņemšanu. Klients par šādām TĪRĪGA AS darbībām tiek informēts atsevišķi saskaņā ar normatīvajiem aktiem. Klients var iebilst automatizētu lēmumu pieņemšanai saskaņā ar tiesību aktiem, tomēr apzinoties, ka atsevišķos gadījumos tas var ierobežot Klienta tiesības izmantot atsevišķas viņam potenciāli pieejamās iespējas (piemēram, saņemt komerciālus piedāvājumus).<br /> 
    Automatizētu lēmumu pieņemšana, kas Klientam rada tiesiskās sekas (piemēram, Klienta pieteikuma apstiprināšana vai noraidīšana), var tikt veikta tikai līguma starp TĪRĪGA AS un Klientu noslēgšanas vai izpildes gaitā, vai pamatojoties uz Klienta nepārprotamu piekrišanu.<br /> 
    Ar Klientu noslēgtā līguma saistību izpildes kvalitatīvai un operatīvai nodrošināšanai TĪRĪGA AS var pilnvarot savus sadarbības partnerus veikt atsevišķas preču piegādes vai pakalpojumu sniegšanas darbības, kā piemēram, pakalpojumu ierīkošanas darbu veikšanu, rēķinu izsūtīšanu un tamlīdzīgi. Ja izpildot šos uzdevumus, TĪRĪGA AS sadarbības partneri apstrādā TĪRĪGA AS rīcībā esošos Klienta personas datus, attiecīgie TĪRĪGA AS grupas uzņēmumi vai sadarbības partneri ir uzskatāmi par TĪRĪGA AS datu apstrādes operatoriem (apstrādātājiem) un TĪRĪGA AS ir tiesības nodot sadarbības partneriem šo darbību veikšanai vajadzīgos Klienta personas datus tādā apmērā, kā tas nepieciešams šo darbību veikšanai.<br /> 
    TĪRĪGA AS sadarbības partneri (personas datu apstrādātāja statusā) nodrošinās personas datu apstrādes un aizsardzības prasību izpildi saskaņā ar TĪRĪGA AS prasībām un tiesību aktiem, un neizmantos personas datus citos nolūkos, kā tikai ar Klientu noslēgtā līguma saistību izpildei TĪRĪGA AS uzdevumā.
    
    <h2>8. Personas datu aizsardzība</h2>
    TĪRĪGA AS aizsargā Klienta datus, izmantojot mūsdienu tehnoloģiju iespējas, ņemot vērā pastāvošos privātuma riskus un TĪRĪGA AS saprātīgi pieejamos organizatoriskos, finansiālos un tehniskos resursus.
    
    <h2>9. Personas datu saņēmēju kategorijas</h2>
    TĪRĪGA AS neizpauž trešajām personām Klienta personas datus vai jebkādu pakalpojumu sniegšanas un līguma darbības laikā iegūtu informāciju, tajā skaitā, informāciju par saņemtajiem pakalpojumiem, izņemot:<br /> 
    • ja attiecīgajai trešajai personai dati jānodod noslēgtā līguma ietvaros, lai veiktu kādu līguma izpildei nepieciešamu vai ar likumu deleģētu funkciju (piemēram, bankai norēķinu ietvaros vai nodrošinātu pakalpojumu);<br /> 
    • rēķinu piegāde Klientam;<br /> 
    • pasta sūtījumu izsūtīšana Klientiem par izmaiņām līguma saturā vai cenrādī;<br /> 
    • saskaņā ar Klienta skaidru un nepārprotamu piekrišanu;<br /> 
    • ārējos normatīvajos aktos paredzētajām personām pēc viņu pamatota pieprasījuma, ārējos normatīvajos aktos noteiktajā kārtībā un apjomā;<br />
    • ārējos normatīvajos aktos noteiktos gadījumos TĪRĪGA AS likumīgo interešu aizsardzībai, piemēram, vēršoties tiesā vai citās valsts institūcijās pret personu, kura ir aizskārusi šīs TĪRĪGA AS likumīgās intereses.
    
    <h2>10. Trešo valstu subjektu piekļuve personas datiem</h2>
    TĪRĪGA AS nodrošina normatīvajos aktos noteiktās procedūras personas datu apstrādes un aizsardzības līmeņa, kas līdzvērtīgs ar Regulu noteiktajam, nodrošināšanai.
    
    <h2>11. Personas datu glabāšanas ilgums</h2>
    TĪRĪGA AS glabā un apstrādā Klienta personas datus, kamēr pastāv vismaz viens no šiem kritērijiem:<br /> 
    • tikai tik ilgi, kamēr ir spēkā ar Klientu noslēgtais līgums;<br /> 
    • kamēr ārējos normatīvajos aktos noteiktajā kārtībā TĪRĪGA AS vai Klients var realizēt savas leģitīmās intereses (piemēram, iesniegt iebildumus vai celt vai vest prasību tiesā);<br /> 
    • kamēr kādai no pusēm pastāv juridisks pienākums datus glabāt;<br /> 
    • kamēr ir spēkā Klienta piekrišana attiecīgai personas datu apstrādei, ja nepastāv cits datu apstrādes likumīgs pamats.<br /> 
    Pēc tam, kad iepriekš minētie apstākļi izbeidzas, Klienta personas dati tiek dzēsti.
      
    <h2>12. Piekļuve personas datiem un citas Klienta tiesības</h2>
    Klientam ir tiesības saņemt normatīvajos aktos noteikto informāciju saistībā ar viņa datu apstrādi. Lielākā daļa Klienta informācijas jau ir ievietota mājas lapā mani.rvp.lv  sadaļā e-pakalpojumi, kur Klients var pārliecināties par savu datu pareizumu.<br />
    Klientam saskaņā ar normatīvajiem aktiem ir arī tiesības pieprasīt TĪRĪGA AS piekļuvi saviem personas datiem, kā arī pieprasīt TĪRĪGA AS veikt to papildināšanu, labošanu vai dzēšanu, vai apstrādes ierobežošanu attiecībā uz Klientu, vai tiesības iebilst pret apstrādi (tajā skaitā pret personas datu apstrādi, kas veikta pamatojoties uz TĪRĪGA AS likumīgajām (leģitīmajām) interesēm), kā arī tiesības uz datu pārnesamību. Šīs tiesības īstenojamas, ciktāl datu apstrāde neizriet no TĪRĪGAa AS pienākumiem, kas tam ir uzlikti ar spēkā esošajiem normatīvajiem aktiem, un kuri tiek veikti sabiedrības interesēs.<br />
    Klients var iesniegt pieprasījumu par savu tiesību īstenošanu:<br />
    • rakstveida formā klātienē TĪRĪGA AS Klientu apkalpošanas centros, uzrādot personu apliecinošu dokumentu;<br />
    • attālināti, iesniegumu parakstot ar drošu elektronisko parakstu, iesniedzot pieprasījumu no mājas lapas sadaļas e-pakalpojumi autorizējoties; <br />
    • kamēr ārējos normatīvajos aktos noteiktajā kārtībā TĪRĪGA AS vai Klients var realizēt savas leģitīmās intereses (piemēram, iesniegt iebildumus vai celt vai vest prasību tiesā);<br />
    • elektroniskā pasta veidā, parakstot ar drošu elektronisko parakstu;<br />
    • pašapkalpošanās portālā <a href="https://mani.rvp.lv" target="_blank">mani.rvp.lv</a>. Saņemot Klienta pieprasījumu par savu tiesību īstenošanu, TĪRĪGA AS pārliecinās par Klienta identitāti, izvērtē pieprasījumu un izpilda to saskaņā ar normatīvajiem aktiem.<br />
    TĪRĪGA AS atbildi Klientam nosūta pa pastu uz viņa norādīto kontaktadresi ierakstītā vēstulē,  elektroniski parakstītu atbildi e-pastā pēc klienta pieprasījuma vai pašapkalpošanās portālā mani.rvp.lv, pēc iespējas ņemot vērā Klienta norādīto atbildes saņemšanas veidu.<br />
    TĪRĪGA AS nodrošina datu apstrādes un aizsardzības prasību izpildi saskaņā ar normatīvajiem aktiem un Klienta iebildumu gadījumā veic lietderīgās darbības, lai iebildumu atrisinātu. Tomēr, ja tas neizdodas, Klientam ir tiesības vērsties uzraudzības iestādē - Datu valsts inspekcijā.
    
    <h2>13. Klienta piekrišana datu apstrādei un tiesības to atsaukt</h2>
    Klients piekrišanu personas datu apstrādei, kuras tiesiskais pamats ir piekrišana (piemēram, pakalpojumu lietošanas paradumu datu analīze, individuāli sagatavota reklāma u.c.), var dot pašapkalpošanās portālā mani.rvp.lv, TĪRĪGA AS pakalpojumu pieteikšanas formās, TĪRĪGA AS pakalpojumu portālos/lietotnēs, TĪRĪGA AS un citās interneta lapās (piemēram, jaunumu saņemšanas pierakstīšanas formas), 
    zvanot uz Klientu apkalpošanas zvanu centru <a href="tel:1848">1848</a>, rakstot uz e-pastu <a href="mailto:klienti@tiriga.lv" target="_blank">klienti@tiriga.lv</a> vai klātienē Klientu apkalpošanas centros.<br /> 
    Personas datu kategoriju saraksts par datiem, kas var tikt apstrādāti saskaņā ar Klienta piekrišanu un citiem tiesiskajiem pamatiem, ir pieejams Pielikums Nr.1.<br /> 
    Klientam ir tiesības jebkurā brīdī atsaukt datu apstrādei doto piekrišanu tādā pat veidā, kādā tā dota, tas ir - pašapkalpošanās portālā <a href="https://mani.rvp.lv" target="_blank">mani.rvp.lv</a>, 
    zvanot uz Klientu apkalpošanas zvanu centru <a href="tel:1848">1848</a> rakstot uz e-pastu <a href="mailto:klienti@tiriga.lv" target="_blank">klienti@tiriga.lv</a> vai klātienē Klientu apkalpošanas centros, un tādā gadījumā turpmāka datu apstrāde, kas balstīta uz iepriekš doto piekrišanu konkrētajam nolūkam turpmāk netiks veikta.<br /> 
    Piekrišanas atsaukums neietekmē datu apstrādes, kuras veiktas tajā laikā, kad Klienta piekrišana bija spēkā.<br /> 
    Atsaucot piekrišanu, nevar tikt pārtraukta datu apstrāde, kuru veic, pamatojoties uz citiem tiesiskajiem pamatiem.
    
    <h2>14. Saziņa ar Klientu</h2>
    TĪRĪGA AS veic saziņu ar Klientu, izmantojot Klienta norādīto kontaktinformāciju (telefona numuru, e-pasta adresi, pasta adresi, mājas lapā <a href="http://www.tiriga.lv" target="_blank">www.tiriga.lv</a><br /> 
    Saziņu par pakalpojumu līgumsaistību izpildi TĪRĪGA AS veic uz noslēgtā līguma pamata (piemēram, pakalpojumu vai preces (piemēram, atkritumu tvertnes) maiņu , informācija par rēķiniem, izmaiņām pakalpojumos u.c.).<br /> 
    Saziņas laikā (ienākošie zvani, e-pasti) – TĪRĪGA AS pārliecinās par Klienta identitāti pēc sekojošiem kritērijiem: <br /> 
    • Telefona zvans: zvanītāja kontakttālrunis -  vai ir norādīts līgumā; Klienta līguma Nr.; personas kods; vārds, uzvārds; pakalpojuma sniegšanas adrese;<br /> 
    • E-pasts:  rakstītāja e-pasts - vai ir norādīts līgumā; Klienta līguma Nr.; personas kods; vārds, uzvārds; pakalpojuma sniegšanas adrese;<br /> 
    • Mājas lapas sadaļa e-pakalpojumi: ja Klients ir autorizējies ar banklink vai e-parakstu – nav nepieciešama papildu Klienta autorizācija, ja Klients nav autorizējies-kritēriji no sadaļas e-pasts;<br /> 
    • Klātienē: personu apliecinošs dokuments;<br /> 
    • Pasta sūtījumi;<br /> 
    • Kontaktpersonas – Klientu apkalpošanas speciālisti. 
    
    <h2>15. Komerciāli paziņojumi</h2>
    Saziņu par komerciāliem paziņojumiem par TĪRĪGA AS un/vai trešo pušu pakalpojumiem un citiem ar tiešu nolīgto pakalpojumu nodrošināšanu nesaistītiem paziņojumiem (piemēram, Klientu aptaujas) TĪRĪGA AS veic saskaņā ar ārējos normatīvajos aktos noteikto vai saskaņā ar Klienta piekrišanu.<br /> 
    Klients piekrišanu TĪRĪGA AS un/vai tā sadarbības partneru komerciālu paziņojumu saņemšanai var dot pašapkalpošanās portālā <a href="https://mani.rvp.lv" target="_blank">mani.rvp.lv</a>, TĪRĪGA AS pakalpojumu pieteikšanas formās, TĪRĪGA AS pakalpojumu portālos/lietotnēs, TĪRĪGA AS un citās interneta lapās (piemēram, jaunumu saņemšanas pierakstīšanās formas).<br /> 
    Klienta dotā piekrišana komerciālu paziņojumu saņemšanai ir spēkā līdz tās atsaukumam (arī pēc pakalpojumu līguma izbeigšanās). Klients jebkurā laikā var atteikties no turpmākas komerciālo paziņojumu saņemšanas kādā no šādiem veidiem:<br /> 
    • izdarot attiecīgu atzīmi savā lietotāja profilā TĪRĪGA AS pašapkalpošanās portālā <a href="https://mani.rvp.lv" target="_blank">mani.rvp.lv</a>;<br /> 
    • nosūtot e-pastu uz adresi <a href="mailto:klienti@tiriga.lv">klienti@tiriga.lv</a> ;<br /> 
    • zvanot uz Klientu apkalpošanas zvanu centru <a href="tel:1848">1848</a>;<br /> 
    • klātienē Klientu apkalpošanas centros;<br /> 
    • izmantojot komerciālajā paziņojumā paredzēto automatizēto iespēju atteikties no turpmāku paziņojumu saņemšanas, noklikšķinot uz atteikšanās norādes attiecīgā komerciālā paziņojuma (e-pasta) beigās.<br /> 
    TĪRĪGA AS pārtrauc komerciālo paziņojumu sūtīšanu, tiklīdz tiek apstrādāts Klienta pieprasījums. Pieprasījuma apstrāde ir atkarīga no tehnoloģiskām iespējām, kas var būt līdz trijām diennaktīm.<br /> 
    Izsakot savu viedokli aptaujās un atstājot savu kontaktinformāciju (e-pastu, tālruni), Klients piekrīt, ka TĪRĪGA AS var ar viņu sazināties, izmantojot sniegto kontaktinformāciju sakarā ar Klienta sniegto novērtējumu.
    
    <h2>16. Sīkdatņu izmantošana</h2>
    “Sīkdatnes” ir sīka apjoma informācija, kuras interneta vietne saglabā Jūsu datorā vai mobilajā ierīcē, kad Jūs apmeklējat interneta vietni. Tā ļauj serverim apkopot informāciju no Jūsu pārlūka, tādējādi Jums vienmēr nav dati jāievada no jauna, kad Jūs atgriežaties interneta vietnē vai pārejat no vienas lapas uz citu. Vairāk informācijas par to, kā darbojas sīkdatnes, ir pieejams interneta vietnē cookiecentral.com.<br /> 
    Mūsu interneta vietne izmanto sīkdatnes, lai uzlabotu piedāvāto pakalpojumu kvalitāti. Mēs izmantojam sesijas sīkdatnes, pastāvīgās sīkdatnes un trešās puses (partneru) sīkdatnes, lai:<br /> 
    • atpazītu jaunus vai agrākos Klientus;<br /> 
    • atcerētos Jūsu ekrāna izvēles (preferences), piemēram, kontrasta krāsas uzstādījumus vai burtu izmērus;<br /> 
    • atcerētos, vai Jūs esat (vai neesat) sniedzis piekrišanu mūsu sīkdatņu lietošanai šajā interneta vietnē;<br /> 
    • anonīmi apkopotu statistiku par to, kā un kādus mūsu piedāvātos pakalpojumus Jūs esat meklējis;<br /> 
    • nosūtītu reklāmu, kas Jums ir visatbilstošākā un vislabāk atbilst Jūsu interesēm. Sīkdatnes arī tiek lietotas, lai ierobežotu to, cik reižu Jūs redzat reklāmu, un lai palīdzētu izmērīt reklāmas kampaņas efektivitāti;<br /> 
    • apkopotu uzticamu vietnes lietošanas informāciju, kas ļauj mums izmērīt, cik labi vietne atbilst tās lietotāju vajadzībām, un lai veiktu jebkādus nepieciešamos uzlabojumus;<br /> 
    • analizētu tīmekļa vietnes apmeklēšanas intensitāti no noteiktiem ģeogrāfiskiem reģioniem.<br /> 
    Lūdzu, ņemiet vērā, ka dažas sīkdatnes var ievietot trešās puses pakalpojumu sniedzējs, kas veic atsevišķas funkcijas mūsu vajadzībām.<br /> 
    Mēs sadarbojamies ar trešām pusēm, lai izsekotu Jūsu darbības mūsu interneta vietnē, lai uzlabotu mūsu mārketinga pasākumus un nodrošinātu Jūs ar reklāmu, pamatojoties uz Jūsu apmeklējumu mūsu interneta vietnē.<br /> 
    TĪRĪGA AS mājaslapās var tikt ievietotas saites uz trešo personu interneta mājaslapām, kurām ir savi lietošanas un personas datu aizsardzības noteikumi, par ko TĪRĪGA AS nenes atbildību.
    
    <h2>17. Citi noteikumi</h2>
    TĪRĪGA AS ir tiesības veikt papildinājumus Privātuma politikā, padarot pieejamu Klientam tā aktuālo versiju viņa lietotāja profilā TĪRĪGA AS pašapkalpošanās portālā <a href="https://mani.rvp.lv" target="_blank">mani.rvp.lv</a>,  kā arī - ievietojot TĪRĪGA AS mājaslapā, norādot rēķinos.<br /> 
    TĪRĪGA AS saglabā Personas datu apstrādes politikas iepriekšējās redakcijas un tās ir pieejamas TĪRĪGA AS mājaslapā <a href="http://www.tiriga.lv" target="_blank">www.tiriga.lv</a>.<br /><br />

    <strong>Pielikums Nr.1</strong><br /><br />

    TĪRĪGA AS Privātuma politikas pielikums Datu kategorijas

    <table>
    <tbody>
    <tr>
    <th>
    <p>Nr.</p>
    </th>
    <th>
    <p>Datu kategorija</p>
    </th>
    <th>
    <p>Piemēri</p>
    </th>
    </tr>
    <tr>
    <td>
    <p>1.</p>
    </td>
    <td>
    <p>Personas identifikācijas dati</p>
    </td>
    <td>
    <p>vārds, uzvārds, personas kods/ID, dzimšanas datums, pases Nr./ID numurs</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>2.</p>
    </td>
    <td>
    <p>Personas kontaktinformācija</p>
    </td>
    <td>
    <p>adrese, telefona numurs, e-pasta adrese</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>3.</p>
    </td>
    <td>
    <p>Īpašo kategoriju dati (sensitīvie)</p>
    </td>
    <td>
    <p>invaliditātes pazīme</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>4.</p>
    </td>
    <td>
    <p>Klienta kontaktpersonu dati</p>
    </td>
    <td>
    <p>kontaktpersonas vārds, uzvārds, e-pasta adrese, telefona numurs</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>5.</p>
    </td>
    <td>
    <p>Klienta dati</p>
    </td>
    <td>
    <p>klienta līguma numurs, klienta reģistrēšanas datums, statuss, klienta numurs</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>6.</p>
    </td>
    <td>
    <p>Pašapkalpošanās portāla <a href="http://www.rvp.lv/"> mani.rvp.lv </a></p>
    </td>
    <td>
    <p>dati lietotāja numurs, veiktās darbības pašapkalpošanās portālā <a href="http://www.rvp.lv/"> mani.rvp.lv </a></p>
    </td>
    </tr>
    <tr>
    <td>
    <p>7.</p>
    </td>
    <td>
    <p>Piegādātāja dati</p>
    </td>
    <td>
    <p>piegādātāja numurs, rēķina informācija, adrese, bankas konta numurs</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>8.</p>
    </td>
    <td>
    <p>Klienta profilēšanas dati (1)</p>
    </td>
    <td>
    <p>piederība kategorijai, segments, (profilēšanai tiek ņemta vērā klienta datu analīzes atļauja)</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>9.</p>
    </td>
    <td>
    <p>Pakalpojuma dati</p>
    </td>
    <td>
    <p>servisa numurs, pakalpojuma nosaukums, pakalpojuma adrese, cena, atlaide, <br /> atlaides beigu termiņš</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>10.</p>
    </td>
    <td>
    <p>Gala iekārtu dati</p>
    </td>
    <td>
    <p>gala iekārtas nosaukums, veids, seriālais numurs, MAC adrese, skaitītāja numurs</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>11.</p>
    </td>
    <td>
    <p>Pakalpojuma līguma dati</p>
    </td>
    <td>
    <p>līguma numurs, parakstīšanas / apstiprināšanas datums, veids, pielikuma numurs, pielikuma datums</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>12.</p>
    </td>
    <td>
    <p>Darījuma dati</p>
    </td>
    <td>
    <p>darījuma numurs, datums, darījuma nosaukums, veids, statuss, pakalpojuma <br /> ierīkošanas informācija</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>13.</p>
    </td>
    <td>
    <p>CRM aktivitātes dati (2)</p>
    </td>
    <td>
    <p>aktivitātes numurs, veids, datums, kategorija, īpašnieks</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>14.</p>
    </td>
    <td>
    <p>Komunikācijas dati</p>
    </td>
    <td>
    <p>ienākošās/izejošās saziņas veids, numurs, datums, reģistrētājs, saturs, kanāls, <br /> piegādes statuss</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>15.</p>
    </td>
    <td>
    <p>Preces pirkuma dati</p>
    </td>
    <td>
    <p>preces nosaukums, preces kods, pirkuma datums, pavadzīmes numurs, preces <br /> saņemšanas veids, cena, apmaksas veids, čeka informācija, aprīkojums,</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>16.</p>
    </td>
    <td>
    <p>Pakalpojuma pirkuma dati</p>
    </td>
    <td>
    <p>pirkuma informācija – klienta pasūtījumi, pirkumi, pieteikumi, kas piesaistīti pie līguma; pakalpojuma sniegšanas adrese</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>17.</p>
    </td>
    <td>
    <p>Dalītā maksājuma dati</p>
    </td>
    <td>
    <p>dalītā maksājuma līguma numurs, lēmums, maksājumu grafiks</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>18.</p>
    </td>
    <td>
    <p>Maksātspējas pārbaudes dati</p>
    </td>
    <td>
    <p>statuss par ārēja parāda esamību, kredītriska vērtējums, maksātspējas statuss</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>19.</p>
    </td>
    <td>
    <p>Norēķinu dati</p>
    </td>
    <td>
    <p>norēķinu sistēmas konta numurs, bankas konta numurs, rēķina numurs, datums, summa, rēķina saņemšanas veids, apmaksas datums, parāda summa, parāda piedzīšanas informācija</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>20.</p>
    </td>
    <td>
    <p>Pakalpojuma lietošanas dati</p>
    </td>
    <td>
    <p>balss pakalpojuma saglabājamie (3) dati, interneta piekļuves pakalpojuma <br /> saglabājamie dati</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>21.</p>
    </td>
    <td>
    <p>Bojājumu dati</p>
    </td>
    <td>
    <p>bojājuma numurs, reģistrēšanas/atrisināšanas datums, veids, apraksts</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>22.</p>
    </td>
    <td>
    <p>Iebildumu dati</p>
    </td>
    <td>
    <p>iebilduma numurs, reģistrēšanas/atrisināšanas datums, veids, apraksts</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>23.</p>
    </td>
    <td>
    <p>Klientu aptauju dati</p>
    </td>
    <td>
    <p>aptaujas nosaukums, izsūtīšanas datums, atbildes sniegšanas datums, aptaujas jautājumi un sniegtās atbildes</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>24.</p>
    </td>
    <td>
    <p>TĪRĪGA AS interneta lapās veiktās darbības</p>
    </td>
    <td>
    <p>IP adrese, veiktās darbības nosaukumus, interneta lapas sadaļa, datums un laiks</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>25.</p>
    </td>
    <td>
    <p>Fotogrāfijas un attēli</p>
    </td>
    <td>
    <p>fotogrāfijas no klientu pasākumiem, foto uzņemšanas datums</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>26.</p>
    </td>
    <td>
    <p>Video dati</p>
    </td>
    <td>
    <p>video no klientu pasākumiem, videonovērošana TĪRĪGA AS objektos, ierakstīšanas datums</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>27.</p>
    </td>
    <td>
    <p>Sarunu ierakstu dati</p>
    </td>
    <td>
    <p>TĪRĪGA AS klientu apkalpošanas tālruņu sarunu ieraksti, datums un laiks</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>28.</p>
    </td>
    <td>
    <p>Pieejas dati sistēmām</p>
    </td>
    <td>
    <p>klientam piešķirtie lietotājvārdi un paroles</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>29.</p>
    </td>
    <td>
    <p>Piekrišanu informācija (4)</p>
    </td>
    <td>
    <p>klienta izteiktās piekrišanas atzīme pa tēmām, piekrišanas datums un laiks, avots</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>30.</p>
    </td>
    <td>
    <p>Atrašanās vietas dati (5)</p>
    </td>
    <td>
    <p>Konteineru atrašanās adrese</p>
    </td>
    </tr>
    </tbody>
    </table>


    <p>
      * Piemēri neietver izsmeļošu attiecīgajā datu kategorijā ietilpstošo datu uzskaitījumu.<br />
      (1) Profilēšana - izpaužas kā jebkura veida automatizēta personas datu apstrāde, kurā izvērtē ar fizisku personu saistītus personiskus aspektus, jo īpaši, lai analizētu vai prognozētu aspektus saistībā ar sniegumu darbā, ekonomisko situāciju, veselību, personīgām vēlmēm vai interesēm, uzticamību vai uzvedību, atrašanās vietu vai pārvietošanos, kamēr šādai apstrādei ir juridiskas sekas attiecībā uz fizisko personu vai kamēr tā līdzīgā veidā ievērojami ietekmē fizisko personu.<br />
      (2) CRM (Customer Relationship Management) - klientu attiecību vadības sistēma.<br />
      (3) Saglabājamie dati — balss telefonijas (jebkura informācija vai dati, kas tiek apstrādāti, lai sagatavotu rēķinus un uzskaitītu maksājumus, <br />
      (4) Piekrišana - klienta brīvi, nepārprotami izteikts gribas apliecinājums, ar kuru klients atļauj apstrādāt savus personas datus atbilstoši TĪRĪGA AS sniegtajai informācijai.<br />
      (5) Atrašanās vietas dati - dati, kas tiek apstrādāti elektroniski uzskaites sistēmās.
    <p>


  </div>
</div>