<style>
#privacy{ background-color:#fff; text-align:left; padding:100px 0px; }
.container{ max-width:728px; }
h1{ font-size:3em; margin-bottom:60px; margin-top:50px; }
h2{ font-size:1.5em; font-weight:700; margin-top:15px; }
a{ color:var(--primary-color); font-weight:700; }

/*table{ margin:40px 0px; }
th{ color:var(--font-color); padding:3px 0px; }
tr:first-child{ border-bottom:none; }
tr{ border-bottom:1px dotted #05416b55; margin:0px 10px; }
td{ padding:10px 0px; }*/

.tab{ text-align:center; margin-top:20px; }
</style>

<div id="privacy">
  <div class="container">
    <h1>Processing of personal data</h1>

    <h2>1. The Aim of Personal Data Processing Policy</h2>
    The aim of the Personal Data Processing Policy is to provide natural persons (data subjects) with information on the purpose, scope, protection of personal data processing, as well as the processing deadline during data collection and processing of data subject personal data.
     
    <h2>2. Personal Data Controller and His/Her Contact Information</h2>
    Personal data controller shall be the joint-stock company Tīrīga (hereinafter TĪRĪGA AS), unified registration No. 40203215318, legal address Vietalvas iela 5A, Riga, LV-1009, phone <a href="tel:1848">1848</a>, 
    e-mail:  <a href="mailto:info@tiriga.lv">info@tiriga.lv</a> .

    TĪRĪGA AS contact information for matters related to processing of personal data shall be Customer Service Centre. You may ask questions regarding personal data processing by calling <a href="tel:1848">1848</a>, writing to <a href="mailto:info@tiriga.lv">info@tiriga.lv</a> or contacting TĪRĪGA AS in person in its legal address. You may submit request for exercising your rights in accordance with Clause 12 of this document.
     
    <h2>3. Scope of the Document</h2>
    Personal data are any information on an identified or identifiable natural person. Definitions, explanations and data categories of personal data are stated in Annex No. 1.<br />
    The privacy policy shall apply to provision of privacy and personal data protection in relation to:<br />
        • natural persons - customers, employees and other users of services (both prospective, former and existing), as well as third parties (including contact persons, payers, etc.) who receive from or transmit to TĪRĪGA AS any information in connection with the provision of services to a natural person (Customer);<br />
        • TĪRĪGA AS office, visitors of Customer Service Centre; <br />
        • staff in TĪRĪGA AS office where video surveillance is performed;<br />
        • visitors of internet websites maintained by TĪRĪGA AS (hereinafter referred to as Customers).<br />
    TĪRĪGA AS takes care of Customer privacy and protection of personal data in accordance with Customer's right to the lawfulness of personal data processing in accordance with applicable law - Personal Data Protection Law, Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016 on the protection of natural persons with regard to on the processing of personal data and on the free movement of such data (Regulation), as well as other applicable laws on privacy and data processing.<br />
    The privacy policy shall apply to the processing of data regardless of the form and/or environment in which the Customer provides personal data (on TĪRĪGA AS internet-based websites, paper or by phone) or in what enterprise systems or paper form they shall be processed.<br />
    For specific types of data processing (such as cookie processing, etc.), additional specific rules may be set for the purposes on which the Customer is informed at the time of provision of the relevant data to the TĪRĪGA AS.
     
    <h2>4. Purposes of the Personal Data Processing</h2>
    TĪRĪGA AS shall process personal data for the purposes of service provision and sale of goods:<br />
        • identification of customers and preparation of an offer;<br />
        • preparation, conclusion, supplement, renewal or withdrawal of a contract;<br />
        • customer service;<br />
        • supply of goods (containers) and provision of services (performance of contractual obligations);<br />
        • provision/maintenance of services;<br />
        • improvement of goods and services, development of new goods and services;<br />
        • promoting, advertising and distribution of services for commercial purposes;<br />
        • handling and considering of objections;<br />
        • customer satisfaction measurement, retention, loyalty;<br />
        • settlement administration; <br />
        • assessment of creditworthiness, credit monitoring; <br />
        • debt recovery and collection; <br />
        • maintenance of websites and performance improvement.<br />
    TĪRĪGA AS shall process personal data for the purposes of business planning and analysis:<br />
        • accounting, planning and statistics;<br />
        • ensuring data quality and measuring efficiency;<br />
        • carrying out the market and public opinion research; <br />
        • preparation of reports;<br />
        • conducting customer surveys.<br />
    TĪRĪGA AS shall process personal data for provision of information to government institutions and subjects of operational activities in the cases and to the extent provided for in the external regulatory enactments, as well as for other specific purposes on which the Customer shall be informed at the moment of provision of the relevant data to TĪRĪGA AS.
     
    <h2>5. The Legal Ground for Personal Data Processing</h2>
    TĪRĪGA AS shall process Customer's personal data based on the following legal bases:<br />
        • for the purposes of conclusion and performance of a contract - to enter into a contract pursuant to the Customer's application and ensure performance thereof;<br />
        • for the compliance with regulatory enactments - in order to comply with the obligations set out in the regulatory enactments that are binding to TĪRĪGA AS;<br />
        • in accordance with the prior written consent of Customer - data subject;<br />
        • lawful (legitimate) interests - to exercise the lawful (legitimate) interests of the TĪRĪGA AS arising from the obligations between TĪRĪGA AS and the Customer, the concluded contract or the law.<br />
    The lawful (legitimate) interests of TĪRĪGA AS shall be the following:<br />
        • conducting commercial activity;<br />
        • provision of waste collection and waste sorting services;<br />
        • verification of the Customer's identity before entering into a contract or during customer service - by phone, electronically, in person;<br />
        • ensuring performance of contractual obligations;<br />
        • elimination of unreasonable financial risks to its commercial activities (including performance of credit risk assessment before selling goods or services and during performance of the contract);<br />
        • storing Customer's applications and submissions for the purchase of goods and services, other applications and submissions, notes on them, including those made verbally when calling to call centres, on internet websites and self-service environments;<br />
        • analysis, development and implementation of improvements to TĪRĪGA AS home pages, websites and mobile applications;<br />
        • administration of the Customer's account on TĪRĪGA AS home pages, websites and mobile applications;<br />
        • carrying out activities for retention of Customers;<br />
        • segmentation of Customer database to provide services more efficiently;<br />
        • design and development of goods and services;<br />
        • promotion of its goods and services by sending commercial announcements;<br />
        • sending other reports on the progress of the contractual performance and the events essential for the contractual performance, as well as conducting Customer surveys on the goods and services and their user experience;<br />
        • notification on changes in the course and pricing of the service provision;<br />
        • notification on Customers on the sectoral news;<br />
        • provision of environmental education activities;<br />
        • maintenance of waste bins;<br />
        • prevention of fraud;<br />
        • ensuring corporate governance, financial and business accounting and analytics;<br />
        • provision of effective business management processes;<br />
        • the efficiency of the provision of services and the sale and supply of goods;<br />
        • provision and improvement of the quality of services;<br />
        • administration of payments;<br />
        • administration of delayed payments;<br />
        • addressing government and operational institutions and courts to protect its legal interests;<br />
        • informing the public about its activities.

    <h2>6. Data Processing Rules from One Controller to Another</h2>
    These data processing rules shall only be applicable to the processing of personal data arising from contracts for services provided to TĪRĪGA AS by another legal entity.<br />
    Both Parties shall act as an independent data controller.<br />
    The Parties shall take appropriate technical and organizational measures to ensure safety of the processing of personal data.<br />
    The Parties shall promptly, but not later than within 2 (two) working days, notify the other Party of the data subject's request if it concerns or affects the processing of personal data by the other Party (eg. request to limit data processing) or affects personal data (eg. request for rectification). The Parties shall cooperate with each other in good faith (for example by exchanging information on the processing of personal data) in order to meet reasonable requests from data subjects as well as to ensure the accuracy of the data throughout the processing period.
     
    <h2>7. Personal Data Processing</h2>
    TĪRĪGA AS shall process the Customer data using modern technologies, considering the existing privacy risks, as well as the organizational, financial and technical resources reasonably available to TĪRĪGA AS.<br />
    TĪRĪGA AS may use automated decision-making in relation to a Customer. The Customer shall be notified on such activities carried out by TĪRĪGA AS separately in accordance with regulatory enactments. The Customer may object to automated decision-making in accordance with the law, but shall be aware that in certain cases it may restrict the Customer's right to use certain options that are potentially available to him/her (eg. to receive commercial offers).<br />
    Automated decision-making that creates legal consequences for the Customer (for example, approval or rejection of the Customer's application) may only be performed in the course of the conclusion or performance of the contract between TĪRĪGA AS and the Customer, or on the basis of the Customer's explicit consent.<br />
    In order to ensure high-quality and efficient performance of the obligations arising from the contract entered into with the Customer, TĪRĪGA AS may authorize its cooperation partners to provide certain supply of goods or services, such as performance of utility installation works, invoicing and the like. If in the course of performance of these tasks, TĪRĪGA AS cooperation partners should process the Customer’s personal data available to TĪRĪGA AS, the respective TĪRĪGA AS group companies or cooperation partners shall be considered to be TĪRĪGA AS data processing operators (processors) and TĪRĪGA AS shall have the right to transfer to the cooperation partners the Customer’s personal data to the extent necessary for the performance of these activities.<br />
    TĪRĪGA AS cooperation partners (acting as data processors) shall ensure compliance with the personal data processing and protection requirements in accordance with TĪRĪGA AS’ requirements and legal enactments, and shall not use personal data for any other purpose than performance of the obligations arising from the contract entered into by the Customer on behalf of TĪRĪGA AS.
     
    <h2>8. Personal Data Protection</h2>
    TĪRĪGA AS shall protect the Customer data using modern technologies, considering the existing privacy risks, as well as the organizational, financial and technical resources reasonably available to TĪRĪGA AS.
     
    <h2>9. Categories of Personal Data Recipients</h2>
    TĪRĪGA AS shall not disclose to any third parties the personal data of the Customer or any information obtained during the validity term of the contract or provision of service, including information on the received services, except:<br />
        • if the third party concerned is required to provide the data within the framework of a contract to perform a function required by the contract or delegated by law (for example, to the bank for settlement or for provision of service);<br />
        • sending invoices to the Customer;<br />
        • mailing to Customers regarding changes in the content of the contract or the price list;<br />
        • in accordance with the Customer's explicit and unambiguous consent;<br />
        • to persons specified in any external regulatory enactments upon their reasoned request, in accordance with the procedures and to the extent provided for in the external regulatory enactments;<br />
        • in the cases specified in the external regulatory enactments for the protection of the legitimate interests of TĪRĪGA AS, for example, filing a claim in a court or other government institution against a person who has violated said legitimate interests of TĪRĪGA AS.
     
    <h2>10. Access to Personal Data by Third State Subjects</h2>
    TĪRĪGA AS shall ensure the procedures specified in the regulatory enactments for provision of the level of processing and protection of personal data equivalent to that prescribed by the Regulation.
     
    <h2>11. Duration of Retention of Personal Data</h2>
    TĪRĪGA AS shall store and process the Customer's personal data while at least one of the following criteria exists:<br />
        • only during the validity term of the contract with the Customer;<br />
        • as long as TĪRĪGA AS or the Customer may exercise their legitimate interests in accordance with the procedures provided for in the external regulatory enactments (for example, to file an objection or to file or take a legal action);<br />
        • as long as one of the parties has a legal obligation to retain the data;<br />
        • as long as the Customer's consent to the relevant processing of personal data is valid, unless there is another legal basis for processing of the data.<br />
    After the expiration of the above circumstances, the Customer's personal data shall be deleted.
     
    <h2>12. Access to Personal Data and Other Customer’s Rights</h2>
    The Customer is entitled to receive the information related to his/her data processing provided for in the legal enactments. Most of the Customer information is already placed in the home page mani.rvp.lv, section E-services, where the Customer may verify the accuracy of his/her data.<br />
    In accordance with regulatory enactments, the Customer is also entitled to request access to his/her personal data from TĪRĪGA AS, as well as to require TĪRĪGA AS to supplement, correct or delete them, or to restrict the processing in relation to the Customer, as well as the right to object to the processing (including the processing of personal data) carried out based on the lawful (legitimate) interests of TĪRĪGA AS, and the right to data portability. This right shall be exercised insofar as the processing of the data does not result from the obligations of TĪRĪGA AS imposed on it by the existing laws and regulations or which are performed in the public interest.<br />
    The Customer may submit his/her request on execution of rights.<br />
        • in writing by submitting in person at TĪRĪGA AS Customer Service Centres upon presenting a personal identification document;<br />
        • remotely by signing the application using a secure electronic signature, submitting the request via the website section for authorization of e-services; <br />
        • as long as TĪRĪGA AS or the Customer may exercise their legitimate interests in accordance with the procedures provided for in the external regulatory enactments (for example, to file an objection or to file or take a legal action);<br />
        • by e-mail using a secure electronic signature;<br />
        • by using the self-service portal mani.rvp.lv. Upon receipt of the Customer's request for the exercise of his/her rights, TĪRĪGA AS shall verify the Customer's identity, consider the request and execute it in accordance with regulatory enactments.<br />
    TĪRĪGA AS shall send a reply to the Customer by post to his/her contact address indicated by registered mail, electronically signed reply to the e-mail at the customer's request or via self-service portal mani.rvp.lv, to the extent possible taking into account the type of response indicated by the Customer.<br />
    TĪRĪGA AS shall ensure the compliance with the data processing and protection requirements in accordance with regulatory enactments and, in the event of the Customer's objections, shall take justified actions to address the objection. Should that, however, fail, the Customer has the right to turn to the supervisory authority - the Data State Inspectorate.
     
    <h2>13. Customer’s Consent to the Data Processing and Withdrawal of Consent</h2>
    Customer may give his/her consent to the processing of personal data where the appropriate legal basis is consent (for example, analysis of service usage data, tailored advertisement, etc.) using the self-service portal mani.rvp.lv, filling in the TĪRĪGA AS service application forms, using TĪRĪGA AS service portals/ applications, TĪRĪGA AS or other internet sites (for example, forms for subscription to newsletters), by calling the Customer Service Centre on <a href="tel:1848">1848</a> , by writing to <a href="mailto:klienti@tiriga.lv">klienti@tiriga.lv</a> or in person at the Customer Service Centres.<br />
    The list of personal data categories in relation to data that can be processed pursuant to a Customer's consent or other legal bases is available in Annex 1.<br />
    The Customer has the right at any time to withdraw the consent given for the processing of data in the same way as it has been given, i.e., by using the self-service portal mani.rvp.lv, by calling the Customer Service Centre on <a href="tel:1848">1848</a>, by writing to <a href="mailto:klienti@tiriga.lv">klienti@tiriga.lv</a> or in person at the Customer Service Centres, and in such cases, further processing of data based on a prior consent for the purpose in question shall no longer be carried out.<br />
    The withdrawal of consent shall not affect the processing of data carried out at the time the Customer's consent was in force.<br />
    Withdrawal of consent shall not result in the interruption of data processing carried out in accordance with other legal bases.
     
    <h2>14. Communication with the Customer</h2>
    TĪRĪGA AS shall communicate with the Customer using the Customer's contact information (phone number, e-mail address, postal address, website <a href="http://tiriga.lv/" target="_blank">www.tiriga.lv</a>).<br />
    Communication on performance of the contractual obligations shall be performed by TĪRĪGA AS on the basis of the concluded contract (for example, the replacement of services or goods (eg. waste bins), information on invoices, service changes, etc.).<br />
    In the course of communication (incoming calls, e-mails), TĪRĪGA AS shall verify the Customer's identity according to the following criteria: <br />
        • phone call: caller’ contact phone - is it specified in the contract; Customer contract No.; personal ID code; name and surname; address of service provision;<br />
        • e-mail:  sender's email - is it specified in the contract; Customer contract No.; personal ID code; name and surname; address of service provision;<br />
        • Home page section e-services: if the Customer has logged using banklink or e-signature - no additional Customer authorization shall be required; if the Customer has failed to log in - criteria from section e-mail shall apply;<br />
        • in person: personal identification document;<br />
        • postal shipments;<br />
        • Contact persons - Customer service specialists; 
     
    <h2>15. Commercial Notifications</h2>
    Communication on commercial notifications on TĪRĪGA AS and/or third party services or other not directly related services (eg. Customer surveys) shall be performed by TĪRĪGA AS in accordance with the external regulatory enactments or pursuant to the Customer's consent.<br />
    Customer may give his/her consent to receive commercial notifications from TĪRĪGA AS and/or its commercial partners using the self-service portal mani.rvp.lv, TĪRĪGA AS service application forms, TĪRĪGA AS service portals/applications, TĪRĪGA AS and other web sites (eg. newsletter subscription forms)<br />
    Customer's consent to receive commercial communications shall be valid until withdrawn (also after termination of the service contract). The Customer may withdraw his/her consent for receipt of commercial notifications at any time using one of the following:<br />
        • by making the relevant remark in its user profile in TĪRĪGA AS self-service portal mani.rvp.lv;<br />
        • by sending an e-mail to the address <a href="mailto:klienti@tiriga.lv">klienti@tiriga.lv</a> ;<br />
        • by calling the Customer Service Centre on <a href="tel:1848">1848</a>;<br />
        • in person in the Customer Service Centres;<br />
        • using the automated option provided in the commercial notification to opt out of receiving further notifications by clicking on the opt-out at the end of the relevant commercial notification (e-mail).<br />
    TĪRĪGA AS shall stop the sending commercial notifications as soon as Customer's request is processed. The processing of the request depends on the technological possibilities and it may take up to three days.<br />
    By expressing his/her opinion in the surveys and leaving his/her contact information (e-mail, phone), the Customer shall acknowledge TĪRĪGA AS may contact him/her by using the contact information provided in connection with the Customer assessment.
     
    <h2>16. Use of Cookies</h2>
    "Cookies" are small files that a website stores on your computer or mobile device when you visit a website. It allows the server to collect information from your browser, so you don't always have to re-enter data when you return to a website or move from one site to another. More information on the functioning of cookies is available on website cookiecentral.com.<br />
    Our website uses cookies to improve the quality of our services. We use session cookies, persistent cookies, and third-party (partner) cookies in order to:<br />
        • recognize new or existing Customers;<br />
        • remember your screen preferences, such as contrast colour settings or font size;<br />
        • remember whether you have (or have not) given consent to our use of cookies on this website;<br />
        • collect anonymously aggregated statistics on how and what services you have been looking for;<br />
        • send an advertisement that is most relevant to you and suits your interests best. Cookies are also used to limit the number of times you see your advertisement and to help measure the effectiveness of your ad campaign.<br />
        • compile reliable site usage information that allows us to measure how well a site meets the needs of its users and make the necessary improvements;<br />
        • analyse the intensity of visits to the website from specific geographic regions.<br />
    Please note that some cookies may be placed by a third-party service provider that performs certain functions on our behalf.<br />
    We cooperate with third parties to track your activities on our website with the aim to improve our marketing efforts and provide you with the advertising based on your visit to our website.<br />
    Links to third party websites that have their own use and personal data protection rules may be placed on TĪRĪGA AS websites, and TĪRĪGA AS carries no responsibility for them.
     
    <h2>17. Miscellaneous</h2>
    TĪRĪGA AS may supplement its Privacy Policy and make its current version available to the Customer his/her user profile in the TĪRĪGA AS self-service portal mani.rvp.lv, as well as by placing it on TĪRĪGA AS website and that shall be stated in invoices.<br />
    TĪRĪGA AS shall retain the previous versions of Personal Data Processing Policy and these shall be available on TĪRĪGA AS website <a href="http://tiriga.lv/" target="_blank">www.tiriga.lv</a>.<br /><br />
     
    <strong>Annex No. 1</strong><br /><br />

    to the TĪRĪGA AS Privacy Policy - Data Categories<br /><br />

    No.<br />
    Data Category<br />
    Examples<br />

    <div class="tab">1.</div>
    Personal identification data<br />
    name, surname, personal code/ID, date of birth, passport/ID number
    <div class="tab">2.</div>
    Personal contact information<br />
    address, phone number, e-mail address
    <div class="tab">3.</div>
    Special categories of data (sensitive)<br />
    disability remarks
    <div class="tab">4.</div>
    Data on Customer’s contact persons<br />
    name, surname, e-mail address, phone number of the contact person
    <div class="tab">5.</div>
    Customer data<br />
    Customer contract No., Customer registration date, status, Customer number
    <div class="tab">6.</div>
    Data of the self-service portal mani.rvp.lv.<br />
    User number, activities performed in the self-service portal mani.rvp.lv
    <div class="tab">7.</div>
    Supplier data<br />
    supplier number, invoice number, address, bank account number
    <div class="tab">8.</div>
    Customer profiling data (1)<br />
    affiliation to a category, segment (profiling takes into account customer data analysis consent)
    <div class="tab">9.</div>
    Service data<br />
    service number, service name, service address, price, discount, validity term of discount
    <div class="tab">10.</div>
    Final equipment data<br />
    final equipment name, type, serial number, MAC address, meter number
    <div class="tab">11.</div>
    Service contract data<br />
    contract number, date of signature/approval, type, annex number, date of annex
    <div class="tab">12.</div>
    Transaction data<br />
    transaction number, date, transaction name, type, status, service installation information
    <div class="tab">13.</div>
    CRM activity data (2)<br />
    activity number, type, date, category, owner
    <div class="tab">14.</div>
    Communication data<br />
    type, number, date, registrar, content, channel of incoming/outgoing communication, delivery status
    <div class="tab">15.</div>
    Product purchase details<br />
    product name, product code, date of purchase, way bill number, method of receipt of goods, price, method of payment, check information, equipment, 
    <div class="tab">16.</div>
    Services purchase details<br />
    purchase information - customer orders, purchases, applications linked to the contract; service address
    <div class="tab">17.</div>
    Data on payment by instalments<br />
    contract on payment by instalment number, decision, payment schedule
    <div class="tab">18.</div>
    Solvency verification data<br />
    status of existence of and external debt, credit risk assessment, solvency status
    <div class="tab">19.</div>
    Settlement data<br />
    billing system account number, bank account number, invoice number, date, amount, billing method, payment date, debt amount, debt collection information
    <div class="tab">20.</div>
    Service usage data<br />
    voice service (3) data to be retained, Internet access service
    data to be retained
    <div class="tab">21.</div>
    Information on damage<br />
    damage number, date of registration/solving, type, description
    <div class="tab">22.</div>
    Information on objections<br />
    objection number, date of registration/solving, type, description
    <div class="tab">23.</div>
    Customer survey data<br />
    the name of the survey, the date of dispatch, the date of the response, the questionnaire and the answers provided
    <div class="tab">24.</div>
    Activities performed on the TĪRĪGA AS websites<br />
    IP address, name of the activity performed, website section, date and time
    <div class="tab">25.</div>
    Photos and images<br />
    photos from customer events, photo shooting date
    <div class="tab">26.</div>
    Video data<br />
    videos from customer events, video surveillance at TĪRĪGA AS sites, recording date
    <div class="tab">27.</div>
    Call recording data<br />
    TĪRĪGA AS customer service phone call records, date and time
    <div class="tab">28.</div>
    Access data to the systems<br />
    user names and passwords assigned to the customer
    <div class="tab">29.</div>
    Information on consent (4)<br />
    customer's consent remark by topic, date and time of consent, source
    <div class="tab">30.</div>
    Location data (5)<br />
    Container location address
    
    <br /><br />

    <p>
      * Examples shall not constitute an exhaustive list of data included in the relevant data category.<br />
      (1) Profiling - means any form of automated processing of personal data consisting of the use of personal data to evaluate certain personal aspects relating to a natural person, in particular to analyse or predict aspects concerning that natural person's performance at work, economic situation, health, personal preferences, interests, reliability, behaviour, location or movements, insofar such processing produces legal effects concerning him or her or similarly significantly affects a natural person.<br />
      (2) CRM - Customer Relationship Management System.<br />
      (3) Data to be retained - voice telephony (any information or data processed for purposes of preparing invoices or recording payments, <br />
      (4) Consent - a freely given, unambiguous indication of the customer's consent to the processing of his/her personal data in accordance with the information provided by TĪRĪGA AS.<br />
      (5) Location data - data processed electronically in the accounting systems. 
    </p>
 




  </div>
</div>