<section>
  <div class="container">
    
    <div class="columns">
      <div class="column">
        <div class="style-100">7000&nbsp;m<sup>3</sup></div>
        <div class="style-110">Rīgas pilsēta ik dienu saražo<br />7000 m<sup>3</sup> atkritumu.</div>
      </div>
    </div>

    <div class="columns is-desktop">
      <div class="column">
        <div class="style-200">30000</div>
        <div class="style-210">Tie ir 30 000 0,24 m³ atkritumu konteineru.</div>
      </div>
      <div class="column style-230-img">

      </div>
    </div>

    <div class="columns is-desltop style-305">
      <div class="column style-310-img">

      </div>
      <div class="column style-320">
        210
      </div>
    </div>

    <div class="columns style-405">
      <div class="column">
        <div class="style-400">       
          Ar šo apjomu varētu piepildīt 210 kravas 
          konteineru, kas kopā veidotu 3 km garu 
          sastāvu – attālumu no Brīvības 
          pieminekļa līdz Gaisa tiltam.
          <div class="column style-410">3&nbsp;km</div>          
        </div>
      </div>
      <div class="column style-420-img is-5">

      </div>
    </div>

    <div class="columns style-505">
      <div class="column">
        <div class="style-500">
          Kas notiktu,
        </div>
        <div class="style-510">
          ja Rīgā vienu dienu neizvestu atkritumus?
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="style-600">
          3784m
        </div>
        <div class="style-610">
          No tiem varētu izveidot 2 m augstu žogu apkārt Vecrīgai.
        </div>
      </div>
      <div class="column style-620-img is-4">
        
      </div>
    </div>

    <div class="columns">
      <div class="column style-700-img is-6">
        
      </div>
      <div class="column is-offset-1">
        <div class="style-710">
          1/43
        </div>
        <div class="style-720">
          Atkritumu daudzums aizņemtu četrdesmit trešo daļu Rīgas – platību, līdzvērtīgu Mežciema teritorijai.
        </div>
      </div>
    </div>

  </div>
</section>

<style>
section{
    padding-top:100px;
    padding-bottom:50px;
    background-color:var(--secondary-color);
    color:var(--font-second-color);    
    font-size:0.6em; 
}
.container{
  max-width:900px;
}

.columns{
  padding-top:50px;
  padding-bottom:50px;
}

.style-100{ font-size:18em; color:var(--font-second-color); font-weight:900;  line-height:100%; }
.style-110{ font-size:4em; color:var(--font-second-color); font-weight:900;  line-height:100%; }

.style-200{ font-size:15em; color:#ffffff; font-weight:900;  line-height:100%; }
.style-210{ font-size:4em; color:var(--font-second-color); font-weight:900;  line-height:100%; }
.style-230-img{ background-image:url('/infograph/containers.svg'); background-repeat:no-repeat; background-position:50% 50%; background-size:contain; }

.style-310-img{ background-image:url('/infograph/fence.svg'); background-repeat:no-repeat; background-position:0px 30px; background-size:contain; }
.style-320{ font-size:20em; color:#ffffff; font-weight:900;  line-height:100%; }

.style-400{ font-size:3em; color:var(--font-second-color); font-weight:900;  line-height:100%; position:relative; }
.style-420-img{ /* hue hue hue cough */ background-image:url('/infograph/bridge.svg'); background-repeat:no-repeat; background-position:0px 30px; background-size:contain; }
.style-410{ font-size:5em; color:#ffffff; font-weight:900;  line-height:100%; }

.style-500{ font-size:10em; color:var(--font-second-color); font-weight:900;  line-height:100%; }
.style-510{ font-size:4em; color:var(--font-second-color); font-weight:900;  line-height:100%; }

.style-600{ font-size:15em; color:#ffffff; font-weight:900;  line-height:100%; }
.style-610{ font-size:4em; color:var(--font-second-color); font-weight:900;  line-height:100%; }
.style-620-img{ background-image:url('/infograph/oldcity.svg'); background-repeat:no-repeat; background-position:50% 50%; background-size:contain; }

.style-700-img{ min-height:400px; background-image:url('/infograph/map.svg'); background-repeat:no-repeat; background-position:left bottom; background-size:contain; }
.style-710{ font-size:15em; color:#ffffff; font-weight:900;  line-height:100%; }
.style-720{ font-size:2em; color:var(--font-second-color); font-weight:900;  line-height:100%; }

@media( max-width:768px ){
  section{ font-size:0.25em; text-align:center; }
  .columns.style-305{ padding-top:50px; padding-bottom:0px; }
  .columns.style-405{ padding-top:0px; padding-bottom:50px; }
  .style-230-img{ height:200px; }
  .style-310-img{ background-position:50% bottom; height:100px; }
  .style-110,.style-210,.style-400,.style-720{ font-size:5em; }
  .style-410{ margin-top:20px; }
  .columns.style-505{ margin-top:0px; margin-bottom:0px; }
  .style-620-img{ height:200px; }
  .style-700-img{ min-height:300px; background-position:50% 50%; }

  .style-500{ font-size:17em; }
  .style-510{ font-size:10em; }
}
</style>