:root{
	--primary-color:#45c85b;
	--secondary-color:#7aaece;
	--font-color:#aeb3ba;
	--font-second-color:#191d35;

	--base-color:#faf7ed;
}

html, body {
	position: relative;
	font-size:14px;
}

body {
	color: var(--font-color);
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Formular', 'Roboto', sans-serif;
	overflow:hidden;
}
.aos-init:not(.aos-animate):after {position: fixed;}

h1,h2,h3,h4,h5{
	font-family: 'Formular', 'DM Sans', sans-serif;
	color:var(--font-second-color);
}

a {
	color: var(--font-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: var(--font-color);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	font-size:1em;
	color: var(--font-second-color);
	background-color: var(--secondary-color);
	outline: none;
	border:none;
	padding:15px 40px;
	border-radius: 26.5px;
	margin:20px;
	cursor:pointer;
}
button:hover{
	background-color: var(--font-second-color);
	color: var(--secondary-color);
}

button:active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.container {
	padding: 0 20px;
}
dust{
	color:var(--font-second-color);
}


button.button-2{
	background-color:#fff;
	border:1px solid var(--font-second-color);
	padding:5px 30px;
	margin:0px;
}
button.button-2:hover{
	color:var(--font-second-color);
}