<script>
let lang
import { subLang } from '../../lang/lang.js'
subLang.subscribe(v => lang = v)
</script>

<style>
.container{  color:white; max-width:1000px; position:relative; }
.container.top { padding-top: 100px; padding-bottom: 65px;}
.container.bottom {padding-top: 0; padding-bottom: 0;}
.filled{ background-color:var(--base-color); }

.recycle { padding: 45px 0; }

h1{ font-size:3em; font-weight:500; }

h2{ font-size:2em; font-weight:500;}

h3{ font-size: 1.15em; font-weight:500; color: var(--secondary-color);}

p{font-size: 1em;margin-bottom: 1.5em; color: #000;}

.recycle-list { font-size: 1em; color: var(--secondary-color); list-style: none;}

.bin { display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;justify-content: center;-ms-align-items: flex-start;align-items: flex-start;}
.bin img{ max-width: 120px }


</style>

<div>
  <div class="container top">
    <div class="columns">
      <div class="column">
        <h1>{lang.recycling.title}</h1>
      </div>
    </div>
  </div>
</div>
<div class="filled">
  <div class="container bottom">
    <div class="recycle">
      <div class="columns">
        <div class="column is-4"></div>
        <div class="column is-8">
          <h2>{lang.recycling.household.h2}</h2>
        </div>
      </div>
      <div class="columns">
        <div class="column is-4 bin green">
          <img src="/bin_1.svg" alt="">
        </div>
        <div class="column is-8">
          <h3>{lang.recycling.household.h3}</h3>
          <div class="columns">
            <div class="column is-6 recycle-list">
              {@html lang.recycling.household.li1}
            </div>
            <div class="column is-6 recycle-list">
              {@html lang.recycling.household.li2}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="recycle">
      <div class="columns">
        <div class="column is-4"></div>
        <div class="column is-8">
          <h2>{lang.recycling.paper.h2}</h2>
        </div>
      </div>
      <div class="columns">
        <div class="column is-4 bin green">
          <img src="/bin_2.svg" alt="">
        </div>
        <div class="column is-8">
          <p>{lang.recycling.paper.p}</p>
          <h3>{lang.recycling.paper.h3}</h3>
          <div class="columns">
            <div class="column is-6 recycle-list">
              {@html lang.recycling.paper.li1}
            </div>
            <div class="column is-6 recycle-list">
              {@html lang.recycling.paper.li2}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="recycle">
      <div class="columns">
        <div class="column is-4"></div>
        <div class="column is-8">
          <h2>{lang.recycling.glass.h2}</h2>
        </div>
      </div>
      <div class="columns">
        <div class="column is-4 bin green">
          <img src="/bin_1.svg" alt="">
        </div>
        <div class="column is-8">
          <p>{lang.recycling.glass.p}</p>
          <h3>{lang.recycling.glass.h3}</h3>
          <div class="columns">
            <div class="column is-6 recycle-list">
              {@html lang.recycling.glass.li1}
            </div>
            <div class="column is-6 recycle-list">
              {@html lang.recycling.glass.li2}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
