<script>
let lang
import { subLang } from '../../lang/lang.js';
subLang.subscribe(v => {
  lang = v
})

import FAQitemLat from './FAQitem.lat.svelte'
import FAQitemRus from './FAQitem.rus.svelte'
import FAQitemEng from './FAQitem.eng.svelte'

</script>

<style>
.container{ text-align:left; }
.inner-container {
  max-width: 800px;
}

.faq{ background-color:white; }
.faq .container{ padding-top:100px; padding-bottom:100px; }

h1{ color:var(--font-color); font-size:2em; margin-bottom:20px; }

@media( max-width:768px ){
  .faq h1{ margin-top:100px; margin-bottom:30px; }
}
</style>

<div class="faq">
  <div class="container">
    <div class="inner-container">

      <h1>{@html lang.faqTitle}</h1>

      {#if lang.lang == 'lat'}
        <FAQitemLat />
      {/if}

      {#if lang.lang == 'rus'}
        <FAQitemRus />
      {/if}

      {#if lang.lang == 'eng'}
        <FAQitemEng />
      {/if}
    </div>
  </div>
</div>
