<script>

  const isopen = 0;

  const openMore = (e) => {
    let target = e.target;
    let opened = Array.from(document.querySelectorAll('.isopen'));

    opened.forEach(node => {
      node.classList.remove('isopen');
    });

    target.parentNode.classList.add('isopen');
  }
</script>

<style>

  h2{ color:var(--font-second-color); font-size:1.4em; cursor:pointer; margin-bottom:15px; font-weight: 500; } 
  h2:hover {
    text-decoration: underline;
  }

  strong{
    color: var(--font-color);
  }

  table {
    width: 100%;
    text-align: center;
  }
  table tr {
    border-bottom: 1px dashed #BECED9;
  }
  table td {
    padding: 5px 10px;
    text-align: center;
  }

  ul {
    list-style: square;
    padding-left: 30px;
  }
  ul li {
    padding-top: 10px;
  }



  .body {
    height: 0;
    overflow: hidden;
    margin-bottom: 10px;

    transform: translate(0px, -10px);
    transition: transform 300ms;
  }

  .body > p{ margin-bottom:10px; }

  .faq--item.isopen .body {
    height: auto;
    transform: translate(0px, 0px);
    margin-bottom: 30px;
  }
</style>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  1. Kāds būs atkritumu apsaimniekošanas tarifs? Kā veidojas cena?
  </h2>

  <div class="body">
    <p>Saskaņā ar pa&scaron;valdības iepirkuma rezultātiem turpmāk Rīgā būs tikai viens pakalpojuma sniedzējs - tas ļauj visiem iedzīvotājiem piemērot vienotu tarifu neatkarīgi no dzīvesvietas, tādējādi izslēdzot situācijas, ka daļa iedzīvotāju maksā vairāk, bet citi mazāk, jo dažādu operatoru cenas līdz &scaron;im bija at&scaron;ķirīgas.</p>
    <p>Uzsākot pakalpojuma snieg&scaron;anu no 2019. gada 15. septembra, maksa par sadzīves atkritumu apsaimnieko&scaron;anu visiem Rīgas iedzīvotājiem būs vienāda &ndash; 17,38 EUR/m&sup3;, neieskaitot PVN.&nbsp;</p>
    <p>Kā veidojas cena:</p>
    <p>5,81 EUR &ndash; atkritumu sagatavo&scaron;ana noglabā&scaron;anai, noglabā&scaron;ana un dabas resursu nodoklis (DRN);</p>
    <p>6,33 EUR &ndash; atkritumu apsaimniekotāja izdevumi;</p>
    <p>2,12 EUR &ndash; dalīti vākto atkritumu savāk&scaron;anas sistēmas izveide, laukumu izbūve;</p>
    <p>3,12 EUR &ndash; konteineru un autoparka nodro&scaron;inājums, transporta izmaksas;</p>
    <p>3,65 EUR &ndash; pievienotās vērtības nodoklis (PVN).</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  2. Kāda ir maksa par 1 m³ sadzīves atkritumu apsaimniekošanu?
  </h2>

  <div class="body">
    <p>Maksa par sadzīves atkritumu apsaimnieko&scaron;anu visiem Rīgas iedzīvotājiem turpmāk būs vienāda &ndash; 17,38 EUR/m&sup3;, neieskaitot PVN, jeb 21,03 EUR/m&sup3;,&nbsp; ieskaitot PVN.</p>
    <table>
    <tbody>
    <tr>
    <td>
    <p>Konteinera tilpums, m&sup3;</p>
    </td>
    <td>
    <p>Viena konteinera izve&scaron;anas izmaksas, EUR, ieskaitot PVN</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>0,24</p>
    </td>
    <td>
    <p>5,05</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>0,66</p>
    </td>
    <td>
    <p>13,88</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>0,77</p>
    </td>
    <td>
    <p>16,19</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>1,1</p>
    </td>
    <td>
    <p>23,14</p>
    </td>
    </tr>
    </tbody>
    </table>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  3. Katru gadu maksa par atkritumu apsaimniekošanu pieaug. Vai Rīgā varētu mainīties maksa par atkritumu apsaimniekošanu? Kādos gadījumos?
  </h2>

  <div class="body">
    <p>Saskaņā ar noslēgto publiskās-privātās partnerības līgumu cenas izmaiņas pakalpojumu sniedzējs nevar ietekmēt. Cenas izmaiņas līguma darbības laikā ir iespējamas tikai atsevi&scaron;ķos, stingri noteiktos gadījumos:</p>
    <p>1) ja mainās nodokļu likmes, t.sk. DRN likme, PVN likme, atkritumu noglabā&scaron;anas tarifs poligonos;</p>
    <p>2) ja mainās degvielas cenas;</p>
    <p>3) cena tiek pielīdzināta atbilsto&scaron;i valsts inflācijas koeficientam;</p>
    <p>4) ja notiek būtiskas izmaiņas normatīvajos aktos, kas maina pakalpojuma sniedzēja pienākumus.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  4. Vai maznodrošinātajiem tiks piemērotas atlaides? Kur varu vērsties pēc atlaidēm?
  </h2>

  <div class="body">
    <p>Saskaņā ar&nbsp; noslēgto publiskās-privātās partnerības līgumu visiem Rīgas iedzīvotājiem būs vienots sadzīves atkritumu apsaimnieko&scaron;anas maksas tarifs. Lai nodro&scaron;inātu vienlīdzības principu &ndash; vienādu pakalpojuma cenu visiem Rīgas iedzīvotājiem, nekāda veida atlaides netiks piemērotas.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  5. Kāds ieguvums būs Rīgai un Rīgas iedzīvotājiem no PPP sadarbības projekta?
  </h2>

  <div class="body">
    <p>Ieguvumi Rīgas pilsētas iedzīvotājiem:</p>
    <ul>
    <li>viena cena &ndash; vienādi nosacījumi visā pilsētā;</li>
    <li>vienots un ērts klientu apkalpo&scaron;anas serviss;</li>
    <li>&scaron;ķiroto atkritumu savāk&scaron;anas laukumu 6 reizes vairāk nekā līdz &scaron;im;</li>
    <li>2500 &scaron;ķiroto atkritumu savāk&scaron;anas punktu pie mājām;</li>
    <li>120 pazemes konteineru izvieto&scaron;ana, lai nodro&scaron;inātu Vecrīgas vajadzībām atbilsto&scaron;u atkritumu &scaron;ķiro&scaron;anu;</li>
    <li>vienots konteineru parks;</li>
    <li>nojumes lielajos konteineru laukumos;</li>
    <li>mērķtiecīga iedzīvotāju izglīto&scaron;ana;</li>
    <li>jaunas, mūsdienīgas automa&scaron;īnas, kas būs klusākas, videi draudzīgākas un nemanāmākas Rīgas ielās un daudzdzīvokļu namu pagalmos; to regulāra atjauno&scaron;ana (autoparka vienības nedrīkst būt vecākas par 8 gadiem);</li>
    <li>mazāk atkritumu apsaimnieko&scaron;anas automa&scaron;īnu, mazāk sastrēgumu;</li>
    <li>personalizēti (RFID) konteineri;</li>
    <li>augsti klientu apkalpo&scaron;anas standarti.</li>
    </ul>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  6. Kāpēc tika izvēlēts tieši šāds sadarbības modelis, nevis līdzīgi kā citās pašvaldībās, kur iepirkumi tiek nodrošināti reizi 3, 5, 7 gados?
  </h2>

  <div class="body">
    <p>Analizējot vairākus iespējamos risinājumus, &scaron;āds sadarbības modelis tika izvēlēts par piemērotāko atbilsto&scaron;i Rīgas attīstības vīzijai. Sadarbības modelis ir balstīts uz veiktā finan&scaron;u ekonomiskā aprēķina, piesaistot aprēķinu izvērtē&scaron;anai CFLA* atbilsto&scaron;i PPP** likumam.</p>
    <p>Pasaulē &scaron;is modelis tiek ļoti pla&scaron;i izmantots, nodro&scaron;inot, ka privātais sektors veic investīcijas, bet publiskais sektors saglabā kontroli un uzraudzību. Kopumā PPP ir ierasta prakse gadījumos, kad projekta īsteno&scaron;anai ir nepiecie&scaron;amas lielas investīcijas un pa&scaron;valdība vai valsts to īsteno, piesaistot privāto investoru.</p>
    <p>&Scaron;āda PPP projekta pieredze ir arī citur Latvijā, piemēram, Siguldā, kur PPP sadarbība ir izveidota uz 30 gadiem &ndash; pa&scaron;valdība saglabā uzraudzību pār procesu.</p>
    <p>*CFLA &ndash; Centrālā finan&scaron;u un līgumu aģentūra</p>
    <p>**PPP likums &ndash; Publiskās un privātās partnerības likums</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  7.   Kā norisinājās Rīgas pašvaldības iepirkuma procedūra un kā tika izvēlēts uzvarētājs?
  </h2>

  <div class="body">
    <p>Konkurss bija starptautisks un ilga gandrīz gadu. Konkursā varēja piedalīties ikviens uzņēmums ar atbilsto&scaron;u pieredzi, kur&scaron; spēj izpildīt konkursa prasības, kas paredz gan apjomīgas investīcijas infrastruktūrā un tehniskajā nodro&scaron;inājumā, gan arī nepiecie&scaron;amos resursus atkritumu apsaimnieko&scaron;anas nepārtrauktai nodro&scaron;inā&scaron;anai.</p>
    <p>2018. gada jūlijā Rīgas pilsēta deleģēja pa&scaron;valdības uzņēmumu SIA &ldquo;Getliņi EKO&rdquo; kā projekta publisko partneri sākt koncesijas procedūru privātā partnera izvēlei Rīgas pilsētas sadzīves atkritumu apsaimnieko&scaron;anai publiskās-privātās partnerības ietvaros.</p>
    <p>Konkurss noslēdzās 2019. gada maijā, un par privāto partneri publiskās-privātās partnerības ietvaros tika izvēlēta SIA &ldquo;CREB Rīga&rdquo;. Tā ir sabiedrība, ko dalībai konkursā izveidoju&scaron;i divi atkritumu apsaimniekotāji &ndash; SIA &ldquo;Clean R&rdquo; un SIA &ldquo;Eco Baltia vide&rdquo;.</p>
    <p>2019. gada jūnijā SIA &ldquo;Getliņi EKO&rdquo; un SIA &ldquo;CREB Rīga&rdquo; izveidoja kopsabiedrību &ldquo;Tīrīga&rdquo; AS (iepriek&scaron; AS &ldquo;Rīgas vides pakalpojumi&rdquo;), lai saskaņā ar publiskās-privātās partnerības līgumu nodro&scaron;inātu sadzīves atkritumu apsaimnieko&scaron;anas sistēmas modernizāciju un ieviestu Rīgas iedzīvotājiem ērtus atkritumu &scaron;ķiro&scaron;anas risinājumus.</p>
    <p>&ldquo;Tīrīga&rdquo; AS klientu līgumu pārslēg&scaron;anu par sadzīves atkritumu apsaimnieko&scaron;anas pakalpojumu uzsāks no 2019. gada 15. jūlija, bet darbību &ndash; no 15. septembra<strong>.</strong></p>
    <p><u>Projekta mērķis ir kvalitatīvas Rīgas pilsētas sadzīves atkritumu apsaimnieko&scaron;anas sistēmas attīstība</u>. Mūsdienīgas, starptautiskām prasībām atbilsto&scaron;as apsaimnieko&scaron;anas sistēmas izveide paredz investīcijas modernas atkritumu apsaimnieko&scaron;anas infrastruktūras izveidē, kas ietver sadzīves atkritumu savāk&scaron;anu, transportē&scaron;anu un sagatavo&scaron;anu pārstrādei.</p>
    <p><u>Projekta ietvaros tiek nodro&scaron;ināta Eiropas Parlamenta un Padomes Direktīvas 2008/98/EK izpilde pilnā apjomā</u>.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  8. Kāpēc man tiek liegta iespēja izvēlēties pakalpojuma sniedzēju -– kāpēc tiek ierobežota konkurence?
  </h2>

  <div class="body">
    <p>Kārtību, kādā veidā tiek organizēta atkritumu apsaimnieko&scaron;anas sistēma, nosaka pa&scaron;valdība. Saskaņā ar pa&scaron;valdības normatīvajiem aktiem ikvienam iedzīvotājam ir jāiesaistās pa&scaron;valdības organizētajā atkritumu apsaimnieko&scaron;anas sistēmā.</p>
    <p>Rīgas dome, veicot izpēti un dažādu iespējamo risinājumu analīzi, publiskās-privātās partnerības modeli ir noteikusi par piemērotāko saskaņā ar pa&scaron;valdības attīstības plāniem un projekta mērķiem.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  9. Kas ir patiesie labuma guvēji –- uzņēmuma struktūra, īpašnieki, vadība?
  </h2>

  <div class="body">
    <p>&ldquo;Tīrīga&rdquo; AS publiskais partneris ir SIA &ldquo;Getliņi EKO&rdquo;, kas nodro&scaron;ina publiskās-privātās partnerības projekta uzraudzību un vietas atkritumu laukumu izveidei.</p>
    <p>&ldquo;Tīrīga&rdquo; AS privātais partneris ir SIA &ldquo;CREB Rīga&rdquo;. To dalībai publiskās-privātās partnerības konkursā izveidoju&scaron;i divi vides pakalpojumu sniedzēji &ndash; SIA &ldquo;Clean R&rdquo; un SIA &ldquo;Eco Baltia vide&rdquo;, kas nodro&scaron;inās pakalpojuma snieg&scaron;anu iedzīvotājiem.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  10. Kā tiks uzlabota pakalpojuma kvalitāte?
  </h2>

  <div class="body">
    <p>Līdz ar atkritumu apsaimnieko&scaron;anas pakalpojuma nodro&scaron;inā&scaron;anu tiks īstenots atkritumu apsaimnieko&scaron;anas sistēmas modernizācijas projekts, gādājot par ērtu pieeju atkritumu &scaron;ķiro&scaron;anas konteineriem un modernizējot atkritumu &scaron;ķiro&scaron;anas punktus un autoparku ar mērķi optimizēt atkritumu izve&scaron;anas mar&scaron;rutu tīklu, samazinot sastrēgumus un gaisa piesārņojumu.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  11. Kādi ieguvumi rīdziniekiem ir iekļauti jaunajā tarifā? Ko jaunu iegūs rīdzinieki ar jaunā pakalpojuma sniedzēju atnākšanu (precīzāki grafiki, labāks serviss, nepilošas automašīnas, pakalpojuma nodrošināšana norunātajā dienā, izbraucami pagalmi, biežāk mazgāti konteineri)?
  </h2>

  <div class="body">
    <p>Sākot ar 2019. gada 15. septembri, Rīgā visiem iedzīvotājiem būs viens atkritumu apsaimniekošanas pakalpojuma sniedzējs “Tīrīga” AS, kas visiem iedzīvotājiem nodrošinās vienotu atkritumu apsaimniekošanas pakalpojumu un vienādus nosacījumus, tostarp vienādu cenu.</p>
    <p>Līdz ar atkritumu apsaimniekošanas pakalpojuma nodrošināšanu tiks īstenots atkritumu apsaimniekošanas sistēmas modernizācijas projekts, gādājot par ērtu piekļuvi atkritumu šķirošanas konteineriem un modernizējot atkritumu šķirošanas punktus un autoparku ar mērķi optimizēt atkritumu izvešanas maršrutu tīklu, samazinot sastrēgumus un gaisa piesārņojumu.</p>
    <p>Ieguvumi Rīgas pilsētas iedzīvotājiem:</p>
    <ul>
      <li>viena cena – vienādi nosacījumi visā pilsētā;</li>
      <li>vienots un ērts klientu apkalpošanas serviss;</li>
      <li>šķiroto atkritumu savākšanas laukumu 6 reizes vairāk nekā līdz šim;</li>
      <li>2500 šķiroto atkritumu savākšanas punktu pie mājām;</li>
      <li>120 pazemes konteineru izvietošana, lai nodrošinātu Vecrīgas vajadzībām atbilstošu atkritumu šķirošanu;</li>
      <li>vienots konteineru parks;</li>
      <li>nojumes lielajos konteineru laukumos;</li>
      <li>mērķtiecīga iedzīvotāju izglītošana;</li>
      <li>jaunas, mūsdienīgas automašīnas, kas būs klusākas, videi draudzīgākas un nemanāmākas Rīgas ielās un daudzdzīvokļu namu pagalmos; to regulāra atjaunošana (autoparka vienības nedrīkst būt vecākas par 8 gadiem);</li>
      <li>mazāk atkritumu apsaimniekošanas automašīnu, mazāk sastrēgumu;</li>
      <li>personalizēti (RFID) konteineri;</li>
      <li>augsti klientu apkalpošanas standarti.</li>
    </ul>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  12. Vai mans vecais konteiners tiks nomainīts?
  </h2>

  <div class="body">
  <p>Atkritumu apsaimniekošanas sistēmas modernizācijas ietvaros tiks apsekoti konteineri, ja tas ir bojāts vai nolietojies – tiks veikta tā maiņa, bet, ja konteiners ir lietošanas kārtībā, konteinera maiņa sākotnēji netiks veikta.</p>
  <p>Jau tuvākā gada laikā bojātie un nolietotie konteineri tiks nomainīti un aprīkoti ar radiofrekvences identifikācijas jeb RFID* čipiem, ar kuru palīdzību būs iespējams noteikt konteineru īpašniekus, tilpumu un veikt to kvalitātes uzraudzību.</p>
  <p>*RFID – attiecīgais čips nav kaitīgs videi, veselībai, nerada starojumu, tiek nolasīts, saskaroties ar attiecīgu ierīci, kas to nolasa.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  13. Vai par konteineriem tiks piemērota nomas maksa?
  </h2>

  <div class="body">
    <p>Papildu maksa par sadzīves atkritumiem paredzēto konteineru nomu nav paredzēta. Gadījumā, ja privātpersona savā īpašuma vēlas šķirot atkritumus, izmantojot konteinerus, tad par konteineru nomu ir jāveic maksa atbilstoši cenrādim.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  14. Kas notiks, ja es līgumu neslēgšu ar jauno atkritumu apsaimniekotāju?
  </h2>

  <div class="body">
    <p>Ikviena iedzīvotāja pienākums ir iesaistīties pašvaldības organizētajā sadzīves atkritumu apsaimniekošanas sistēmā, noslēdzot līgumu ar pašvaldībā izvēlēto pakalpojuma sniedzēju. Saskaņā ar pašvaldības publiskā iepirkuma rezultātiem no 2019. gada 15. septembra sadzīves atkritumu apsaimniekošanas pakalpojumus Rīgā drīkst sniegt tikai viens uzņēmums – “Tīrīga” AS. </p>
    <p>Visi līdz šim noslēgtie atkritumu apsaimniekošanas līgumi ir spēkā līdz š. g. 15. septembrim, pēc tam tie zaudēs spēku. Ja līdz šim laikam netiek  pārslēgts līgums ar jauno pakalpojumu sniedzēju “Tīrīga” AS, var tikt piemērots administratīvais sods par neiesaistīšanos sadzīves atkritumu apsaimniekošanas sistēmā – fiziskajām personām no 70 līdz 700 eiro, bet juridiskajām personām — no 430 līdz 1400 eiro. Soda apmēru par neiesaistīšanos pašvaldības organizētajā sadzīves atkritumu apsaimniekošanas sistēmā nosaka Latvijas Administratīvo pārkāpumu kodeksa 75. pants. Uzraudzību un kontroli nodrošina Rīgas pašvaldības policija.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  15. Cik liels būs sods par nenoslēgtu līgumu, kas to izrakstīs, kontrolēs?
  </h2>

  <div class="body">
    <p>Līgums ar jauno atkritumu apsaimniekošanas pakalpojumu sniedzēju “Tīrīga” AS jānoslēdz līdz 2019. gada 15. septembrim. Ja līdz šim laikam netiek pārslēgts līgums ar jauno pakalpojumu sniedzēju “Tīrīga” AS, var tikt piemērots administratīvais sods par neiesaistīšanos sadzīves atkritumu apsaimniekošanas sistēmā – fiziskajām personām no 70 līdz 700 eiro, bet juridiskajām personām — no 430 līdz 1400 eiro. Soda apmēru par neiesaistīšanos pašvaldības organizētajā sadzīves atkritumu apsaimniekošanas sistēmā nosaka Latvijas Administratīvo pārkāpumu kodeksa 75. pants. Uzraudzību un kontroli nodrošina Rīgas pašvaldības policija.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  16. Kam jāslēdz līgums par atkritumu apsaimniekošanu?
  </h2>

  <div class="body">
    <p>Sākot ar š. g. 15. jūliju, līgumu par atkritumu apsaimniekošanu jāpārslēdz visiem Rīgas iedzīvotajiem – gan fiziskām, gan juridiskām personām.</p>
    <ul>
    <li><strong>Privātmāju iedzīvotāji</strong> paši pārslēdz sadzīves atkritumu apsaimniekošanas līgumus ar jauno pakalpojumu sniedzēju. To ir iespējams izdarīt gan digitāli e-pakalpojumu vidē vietnē <a href="http://www.tiriga.lv">tiriga.lv</a>, gan klātienē klientu apkalpošanas centros, gan piesakot līguma pārslēgšanu pa telefonu, e-pastā vai ar pasta starpniecību.</li>
    <li><strong>Daudzdzīvokļu māju iedzīvotāju</strong> līgumus pārslēdz namu apsaimniekotāji, kas pēc tam par to informē dzīvokļu vai cita veida īpašumu īpašniekus un izraksta rēķinu par atkritumu apsaimniekošanu.</li>
    <li><strong>Juridisko personas</strong> līgumu pārslēgšanu nodrošina īpašuma apsaimniekotājs vai, ja tiek apsaimniekota privāta teritorija vai īpašums, pats īpašnieks.</li>
    </ul>
    <p>Tātad, ja īpašumā atkritumu apsaimniekošanu centralizēti veic apsaimniekotājs, līgumu ar jauno pakalpojumu sniedzēju pārslēdz apsaimniekotājs. Ja tas netiek nodrošināts centralizēti, līgums par atkritumu apsaimniekošanu jāpārslēdz pašam īpašniekam.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  17. Vai līgums jāslēdz arī daudzdzīvokļu mājas iedzīvotājiem?
  </h2>

  <div class="body">
    <p>Daudzdzīvokļu māju iedzīvotāju līgumus pārslēdz namu apsaimniekotājs, kas pēc tam par to informē dzīvokļu vai cita veida īpašumu īpašniekus un izraksta rēķinu par atkritumu apsaimniekošanu.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  18. Kā rīkoties, ja es īpašumā esmu neregulāri, piemēram, tikai vasarā un brīvdienās – atkritumus vedu uz dzīvokli (dārziņu teritorija)? Es taču maksāju daudzdzīvokļu mājā par atkritumiem.
  </h2>

  <div class="body">
    <p>Līgums par atkritumu apsaimniekošanu ir jāpārslēdz par visiem īpašumiem, kur tiek radīti atkritumi un tiek nodrošināta to izvešana, tostarp par īpašumiem, kuros iedzīvotāji dzīvo neregulāri vai uzturas reti, piemēram, vasarnīcas, garāžas u. c.</p>
    <p>Par neiesaistīšanos atkritumu apsaimniekošanas sistēmā, ko nosaka pašvaldība, var tikt piemērots administratīvais sods – fiziskajām personām no 70 līdz 700 eiro, bet juridiskajām personām — no 430 līdz 1400 eiro.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  19. Es esmu daudzdzīvokļu nama iedzīvotājs un gribu slēgt individuālu līgumu par atkritumu apsaimniekošanu. Vai man ir tāda iespēja?
  </h2>

  <div class="body">
    <p>Saskaņā ar Dzīvojamo māju pārvaldīšanas likumu līgumu par atkritumu apsaimniekošanu slēdz nama apsaimniekotājs.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  20. Vai es pats nedrīkstu aizvest atkritumus uz Getliņu poligonu, neslēdzot līgumu ar ”Tīrīga”AS?
  </h2>

  <div class="body">
    <p>Pašvaldība ir noteikusi kārtību, ka sadzīves atkritumu apkalpošanu nodrošina “Tīrīga” AS – iedzīvotāju pienākums ir iesaistīties pašvaldības organizētajā sadzīves atkritumu apsaimniekošanas sistēmā un noslēgt līgumu ar “Tīrīga” AS līdz 15. septembrim. Citas iespējas netiek nodrošinātas.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  21. Vai es nedrīkstu izmantot svešu konteineru un neslēgt līgumu? Kas būs, ja atkritumus metīšu pie daudzdzīvokļu mājas, neslēdzot līgumu?
  </h2>

  <div class="body">
    <p>Saskaņā ar pašvaldības normatīvajiem aktiem ikvienam iedzīvotājam ir jāiesaistās pašvaldības organizētajā atkritumu apsaimniekošanas sistēmā.</p>
    <p>Atkritumu izmešana svešā konteinerā ir prettiesiska un sodāma rīcība. Pārkāpuma gadījumā Latvijas Valsts policija vai Rīga pašvaldības policija var sastādīt administratīvā pārkāpuma aktu (protokolu), bet konteinera īpašniekiem no pārkāpēja ir tiesības pieprasīt radīto zaudējumu atlīdzību.</p>
    <p>Īstenojot atkritumu apsaimniekošanas infrastruktūras modernizācijas projektu, jau tuvākā gada laikā bojātie un nolietotie konteineri tiks nomainīti un aprīkoti ar radiofrekvences identifikācijas jeb RFID čipiem, ar kuru palīdzību būs iespējams noteikt konteineru īpašniekus, tilpumu un veikt to kvalitātes uzraudzību.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  22. Kam nepieciešami RFID čipi, vai tie nav kaitīgi veselībai, kas tiks darīts ar datiem?
  </h2>

  <div class="body">
    <p>RFID čips jeb radiofrekvences identifikācijas iekārta, ar kuru tiks aprīkoti visi konteineri, nav kaitīga videi, veselībai, nerada starojumu, tiek nolasīta, saskaroties ar attiecīgu ierīci. Atkritumu apsaimniekošanas gadījumā RFID čips saturēs informāciju par konteinera piederību, tilpumu un tiks nolasīts konteinera tukšošanas laikā.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  23. Cik ilgi būs spēkā esošie līgumi?
  </h2>

  <div class="body">
    <p>Visi esošie atkritumu apsaimniekošanas līgumi ir spēkā līdz 2019. gada 15. septembrim, līdz tam visiem ir jāpārslēdz jaunie līgumi ar “Tīriga” AS. Līgumi ar “Tīrīga” AS būs spēkā 20 gadus.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  24. Kā ir iespējams pārslēgt līgumu?
  </h2>

  <div class="body">
    <p>Līgumu pārslēgšana ar jauno atkritumu apsaimniekotāju “Tīrīga” AS ir iespējama gan digitāli, izmantojot e-pakalpojumus, gan klātienē klientu apkalpošanas centros.</p>
    <p>Sākot ar š. g. 15. jūliju, līgumus var pārslēgt:</p>
    <ul>
    <li>mājaslapā <a href="http://www.tiriga.lv">tiriga.lv</a>, izmantojot e-pakalpojumu vidi un fiziskas personas bankas autorizācijas datus;</li>
    <li>klātienē kādā no “Tīrīga” AS Klientu apkalpošanas centriem :
    <ul>
    <li>Pepsi Bowling Sporta un atpūtas centrā Uzvaras bulvārī 10 vai</li>
    <li>Brīvības ielā 49/53;</li>
    </ul>
    </li>
    <li>piesakot līguma slēgšanu pa tālruni <strong>1848</strong>;</li>
    <li>piesakot līguma slēgšanu elektroniski e-pastā <strong>klienti@tiriga.lv</strong>;</li>
    <li>līguma pārslēgšanu var veikt arī ar pasta starpniecību, nosūtot līguma pieteikuma veidlapu, kuru var izdrukāt no mājaslapas <a href="http://www.tiriga.lv">tiriga.lv</a>. </li>
    </ul>
    <p>Klientiem, kuriem jau šobrīd atkritumu apsaimniekošanu nodrošina SIA “Clean R” un/vai SIA “Eco Baltia Vide”, ir pieejama paātrināta līguma slēgšanas procedūra, piesakot līguma pārslēgšanu sava operatora mājaslapā <a href="http://www.cleanr.lv">www.cleanr.lv</a> vai <a href="http://www.ecobaltiavide.lv">www.ecobaltiavide.lv</a>, piekrītot nodot līguma datus “Tīrīga” AS.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  25. Vai ir iespējams atkritumu izvešanu nodrošināt reizi divos mēnešos? Vai šāda iespēja tiks piedāvāta?
  </h2>

  <div class="body">
    <p>Visiem klientiem tiks nodrošināti vienādi līguma izpildes nosacījumi, tostarp nodrošināta vienāda cena, vienādi atkritumu savākšanas termiņi un biežums.</p>
    <p>“Tīrīga” AS nodrošinās atkritumu savākšanu saskaņā ar Rīgas pašvaldības noteikumiem par minimālo atkritumu izvešanas biežumu, ko nosaka 2013. gada 17. decembra Rīgas domes saistošie noteikumi Nr. 90 “Sadzīves atkritumu apsaimniekošanas saistošie noteikumi”.</p>
    <p>Attiecīgie noteikumi nosaka, ka atkritumi tiek izvesti:</p>
    <ul>
    <li>daudzdzīvokļu dzīvojamās mājās – ne retāk kā 1 (vienu) reizi nedēļā;</li>
    <li>nedzīvojamās ēkās – ne retāk kā 2 (divas) reizes mēnesī;</li>
    <li>individuālās dzīvojamās mājās – ne retāk kā 2 (divas) reizes mēnesī.</li>
    </ul>
    <p>Atbilstoši normatīvajiem aktiem šie  noteikumi jāievēro gan atkritumu apsaimniekotājam, gan līguma slēdzējam.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  26. Kāds ir minimālais pieļaujamais atkritumu izvešanas biežums?
  </h2>

  <div class="body">
    <p>Minimālo atkritumu izvešanas biežumu nosaka 2013. gada 17. decembra Rīgas domes saistošie noteikumi Nr. 90  “Sadzīves atkritumu apsaimniekošanas saistošie noteikumi”.</p>
    <p>Attiecīgie noteikumi nosaka, ka atkritumi tiek izvesti:</p>
    <ul>
    <li>daudzdzīvokļu dzīvojamās mājās – ne retāk kā 1 (vienu) reizi nedēļā</li>
    <li>nedzīvojamās ēkās – ne retāk kā 2 (divas) reizes mēnesī;</li>
    <li>individuālās dzīvojamās mājās – ne retāk kā 2 (divas) reizes mēnesī.</li>
    </ul>
    <p>Atbilstoši normatīvajiem aktiem šie  noteikumi jāievēro gan atkritumu apsaimniekotājam, gan līguma slēdzējam.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  27. Vai būs iespēja privāti šķirot atkritumus?
  </h2>

  <div class="body">
    <p>Saskaņā ar publiskās-privātās partnerības projekta nosacījumiem Rīgas iedzīvotājiem tiks nodrošinātas plašas iespējas šķirot atkritumus gan publiskajos šķirošanas punktos, gan savā privātīpašumā, izmantojot savus konteinerus vai nomājot “Tīrīga” AS konteinerus.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  28. Kur un kādas iespējas būs publiski šķirot atkritumus?
  </h2>

  <div class="body">
    <p>Atkritumu apsaimniekošanas sistēmas modernizācijas projekta ietvaros tiks veikta vērienīga dalītās atkritumu apsaimniekošanas infrastruktūras izveide un modernizācija, tostarp sadzīves atkritumu dalītās savākšanas punktu ierīkošana, nodrošinot ap 2500 punktu un to pieejamību iedzīvotājiem, kā arī tiks izveidoti 12 šķiroto atkritumu savākšanas laukumi.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  29. Kāds ir rēķinu izrakstīšanas biežums un rēķina apmaksas nosacījumi?
  </h2>

  <div class="body">
    <p>Saskaņā ar jauno atkritumu apsaimniekošanas līgumu fiziskajām personām rēķinu saņemšana tiek nodrošināta 1 x ceturksnī, bet nepieciešamības gadījumā pēc klienta pieprasījuma rēķini var tikt izrakstīti arī  1x mēnesī vai 1x pusgadā. Savukārt  juridiskām personām rēķins tiek izrakstīts 1 x mēnesī. Klientam ir iespēja samaksāt visu rēķinu uzreiz vai ceturkšņa un pusgada rēķinu samaksāt saskaņā ar rēķina atmaksas grafiku pa mēnešiem pēc pakalpojuma saņemšanas.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  30. Kāpēc iepriekšējais atkritumu apsaimniekotājs nenodeva Jums manus datus?
  </h2>

  <div class="body">
    <p>Saskaņā ar personas datu aizsardzības likumu ir aizliegts nodot klienta personas datus citai juridiskai personai vai jaunam pakalpojuma sniedzējam.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  31. Kad saņemšu grafiku?
  </h2>

  <div class="body">
    <p>Visiem klientiem, kas savlaicīgi pārslēgs līgumus, jaunais atkritumu izvešanas grafiks tiks nosūtīts divas nedēļas pirms pakalpojuma sākšanas. Ja līgums netiks noslēgts savlaicīgi, jārēķinās ar to, ka līgumu apstrāde var aizņemt vienu nedēļu, un tādā gadījumā izvešanas grafiku klients saņems kopā ar līgumu.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  32. Kā zināšu, kad ir pirmā izvešana? Bieži sakrīt adreses, kur izvešanas sanāk tuvu viena pie otras jaunajā un vecajā līgumā un tad seko jautājums – vai var atteikties vai samainīt izvešanas dienas?
  </h2>

  <div class="body">
    <p>Visiem klientiem, kas savlaicīgi pārslēgs līgumus, jaunais atkritumu izvešanas grafiks tiks nosūtīts ne vēlāk kā divas nedēļas pirms pakalpojuma sākšanas. Ja būs nepieciešams koriģēt pirmo atkritumu izvešanas laiku, izmaiņas grafikā tiks veiktas pēc klienta pieprasījuma. Lai nodrošinātu klientiem ērtu pakalpojuma sniegšanu, septembrī plānots izsūtīt SMS atgādinājumus klientiem par pirmajām atkritumu izvešanas reizēm.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  33. Vai var mainīt izvešanas dienu?
  </h2>

  <div class="body">
    <p>Klients var sazināties ar “Tīrīga” AS un informēt par vēlamajām izmaiņām grafikā. Iespēju robežās klienta lūgumsi tiks izskatīts un tiks piedāvāti alternatīvi risinājumi atbilstoši maršrutu grafikam.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  34. Vai var mainīt līguma noteikumus?
  </h2>

  <div class="body">
    <p>Klients var sazināties ar “Tīrīga” AS un informēt par vēlamajām izmaiņām līgumā saskaņā ar līguma nosacījumiem. Vēlamās izmaiņas tiks skatītas un izvērtētas atbilstoši pašvaldības un likumdošanā noteiktajām prasībām. Tipveida līguma nosacījumus ir apstiprinājusi un saskaņojusi pašvaldība.</p>
  </div>
</div>
