<script>
import { navigation, toggleNavigation, hasOpen } from './navigation.js'

import FAQ from './layouts/faq/FAQ.svelte'
import Lottery from './layouts/Lottery.svelte'

import RecyclingLAT from './layouts/recycling/Recycling.lat.svelte'

import PrivacyLAT from './layouts/privacy/Privacy.lat.svelte'
import PrivacyRUS from './layouts/privacy/Privacy.rus.svelte'
import PrivacyENG from './layouts/privacy/Privacy.eng.svelte'

import InfographLAT from './layouts/infograph/Infograph.lat.svelte'
import InfographRUS from './layouts/infograph/Infograph.rus.svelte'

let lang
import { changeLanguage,subLang } from './lang/lang.js'
subLang.subscribe(v => {
  lang = v
})

window.addEventListener("hashchange", () => {
  let hash = location.hash.substr(1)
  changeLanguage( hash )
}, false)

import Header from './layouts/Header.svelte'
import Intro from './layouts/Intro.svelte' 
import Why from './layouts/Why.svelte'
import List from './layouts/List.svelte'
import Changes from './layouts/Changes.svelte'
import Goals from './layouts/Goals.svelte'
import Timeline from './layouts/Timeline.svelte'
import Renew from './layouts/Renew.svelte'
import Contacts from './layouts/Contacts.svelte'
import Footer from './layouts/Footer.svelte'

import Cookies from './components/Cookies.svelte'
import ScrollTop from './components/ScrollTop.svelte'
</script>

{#if !$hasOpen}
  <Intro /> 
  <Why />
  <List />
  <Changes />
  <Goals />
  <Timeline />
{:else}

  {#if $navigation.privacy.open}
    {#if lang.lang == 'lat'}<PrivacyLAT />{/if}
    {#if lang.lang == 'rus'}<PrivacyRUS />{/if}
    {#if lang.lang == 'eng'}<PrivacyENG />{/if}
  {/if}
 
  {#if $navigation.infograph.open}
    {#if lang.lang == 'lat'}<InfographLAT />{/if}
    {#if lang.lang == 'rus'}<InfographRUS />{/if}
  {/if}

  {#if $navigation.lottery.open}
    <Lottery />
  {/if}

  {#if $navigation.faq.open}
    <FAQ />
  {/if}

  {#if $navigation.recycling.open}
    <RecyclingLAT />
  {/if}
{/if}

<Renew />
<Contacts />
<Footer />

<Header />

<ScrollTop />
<Cookies />