<script>
let lang
import { subLang } from '../lang/lang.js'
subLang.subscribe(v => lang = v)
</script>

<style> 
h1{ color:var(--font-color); font-size:2em; margin-bottom:15px; }
.container{ margin-top:100px; margin-bottom:100px; font-size:1em; }
.details{ font-size:0.8em; margin-top:25px; }

strong{ color:var(--font-second-color); }

.notice{ font-size:0.8em; margin-bottom:5px; }

.for-media{
  margin-top:98px;
}

@media( max-width:768px ){
  .column{ text-align:center; }
}
</style>

<div id="contacts" class="container">
  <div class="columns">
    <div class="column is-7">

      <h1>{@html lang.contactsTitle}</h1>

      <div style="margin-top:15px;">
        <strong>{@html lang.contactsAdress1}</strong><br />
        {@html lang.contactsWorkdays1}<br />
        {@html lang.contactsWeekend1}
      </div>

      <div style="margin-top:15px;">
        <strong>{@html lang.contactsAdress2}</strong><br />
        {@html lang.contactsWorkdays2}
      </div>

      <div style="margin-top:15px;">
        <strong>{lang.contactsPhoneStr}: {lang.contactsPhoneNr}</strong>
        <div class="notice">{lang.contactsNotice}</div>
        <strong>{lang.contactsEmailStr}:</strong> <a href="mailto:{lang.contactsEmail}">{lang.contactsEmail}</a>
      </div>

    </div>
    <div class="column is-5">
      <div class="for-media">
        {@html lang.footerContacts}
      </div>
      <div class="details">
        <strong>{lang.contactsComp}</strong><br />
        {lang.contactsRegNr}<br />
        {lang.contactsLegal}<br />
        {lang.contactsPostal}<br />
        {lang.contactsBank}<br />
        {lang.contactsBankCode}<br />
        {lang.contactsBankAcc}<br />
      </div>
    </div>
  </div>
</div>
