<script>
let lang
import { subLang } from '../lang/lang.js'
subLang.subscribe(v => lang = v)
</script>

<style>
.container{ background-color:var(--secondary-color); padding:80px; margin-top:50px; margin-bottom:50px; }
h1{ font-size:3em; padding-bottom:10px; line-height:1em; }
h2{ color:#fff; font-size:2em; line-height:1em; padding-bottom:20px; }
p{ color:var(--font-second-color); }

@media( max-width:768px ){
  .container{ padding:50px; }
}
</style>

<section>

  <div class="container">
    <div class="columns">
      <div class="column">
        <h1>{lang.goals.title}</h1>
      </div>
    </div>

    <div class="columns">
      {#each lang.goals.list as goal}
      <div class="column">
        <h2>{@html goal.title}</h2>
        <p>{goal.desc}</p>
      </div>
      {/each}
    </div>

  </div>

</section>
