<script>
import ButtonTrinity from '../components/ButtonTrinity.svelte'

import { hasOpen } from '../navigation.js'

let lang
import { subLang } from '../lang/lang.js'
subLang.subscribe(v => lang = v)

setInterval(function() {
  let slides = document.querySelectorAll('#slideshow > div');
  slides[0].classList.remove('show');
  slides[1].classList.add('show');
  setTimeout(function() {
    slides[0].parentNode.appendChild(slides[0]);
  }, 1000)
},  5000);

const scrollToAction = () => {
  document.querySelector('#renew-contract').scrollIntoView({behavior: 'smooth'})
}
</script>

<style>
  .hero{
    background-color:#fff;
    margin-top:60px;
  }
  .intro-text{
    margin-top:50px;
    margin-bottom:50px;
  }
  .intro-image{
    width:100%;
    /*background-image:url('/intro-image.jpg');*/
    background-position:50% 50%;
    background-size:cover;
    background-repeat:no-repeat;
    min-height:35vw;
    position:relative;
    margin-top:10px;
  }

  #stars{
    position:absolute;
    right:30px;
    top:20px;
  }
  .hero-body{
    margin-top:0px;
    padding-top:0px;
  }
  p{
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.8em;
    color:var(--font-color);
    width:80%;
  }
  h1{
    font-size:4em;
    line-height:1em;
    margin-bottom:20px;
    font-weight:500;
    color:var(--font-color);
  }
  h1 img{
    height:1.5em;
    vertical-align:text-bottom;
    transform:translate(-6px,6px);
  }
  .buttonPlace{ width:90%; margin:20px 0; }

  #slideshow {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
  }

  #slideshow > div {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: opacity 1000ms;
      opacity: 0;
      background-position:50% 50%;
      background-size:cover;
      background-repeat:no-repeat;
  }

  #slideshow .slide-1 {
    background-image:url('/slide1.jpg');
  }

  #slideshow .slide-2 {
    background-image:url('/slide2.jpg');
  }

  #slideshow .slide-3 {
    background-image:url('/slide4.jpg');
  }

  #slideshow .slide-4 {
    background-image:url('/slide3.jpg');
  }

  #slideshow .show {
      opacity: 1;
  }

  @media( max-width:768px ){
    h1{
      font-size:4em;
    }
    .buttonPlace{ width:100%; }
  }
</style>

<section class="hero">
  {#if !$hasOpen}
  <div class="hero-body is-flex">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column intro-text">
          <h1>{@html lang.ourcity} <img src="/logo.svg" class="logo" alt="Tiriga.lv" /></h1>
          <p>{lang.obey}</p>

          <div class="buttonPlace">
            <ButtonTrinity />
          </div>
        </div>
        <div class="column">
          <div class="intro-image">
            <div id="slideshow">
               <div class="slide-1 show"></div>
               <div class="slide-2"></div>
               <div class="slide-3"></div>
               <div class="slide-4"></div>
            </div>
            <img id="stars" src="/stars.svg" alt="Wink" />
          </div>
        </div>
      </div>
    </div>
  </div>
  {/if}
</section>
