<script>
import ButtonTrinity from '../components/ButtonTrinity.svelte'

import { toggleNavigation } from '../navigation.js'

let lang
import { subLang } from '../lang/lang.js'
subLang.subscribe(v => lang = v)

export const openPrivacy = () => {
  window.scrollTo(0,0)
  toggleNavigation('privacy')
}
</script>

<style>
section{
  background-color:var(--base-color);
  text-align:center;
  padding:40px 0px;  
}
h1{
  color:var(--font-second-color);
  font-size:3em;
  line-height:1.1em;
  margin-bottom:30px;
  font-weight:500;
  overflow-wrap: break-word;
}
.privacy{
  font-size:0.8em;  
  text-decoration:underline;
  font-size:1em;
}
.privacy a{
  color:var(--font-color);
}
.options{  margin:0px auto; margin-bottom:20px; width:50%; }
@media( max-width:768px ){
  h1{ font-size:2em; }
  .hero{ overflow:hidden; }
  .privacy{ font-size:1.2em; font-size:1.5em; }

  .container{ padding:0px; }
  .options{  margin:0px auto; margin-bottom:20px; width:100%; }
}
</style>

<section id="renew-contract" class="hero">
    <div class="hero-body is-flex">
      <div class="container">
        <div>
          <h1>{@html lang.gofooter}</h1>
          <div class="options">
            <ButtonTrinity />
          </div> 
          <div class="privacy">
            <a href="javascript:;" on:click={openPrivacy}>{lang.footer}</a>            
          </div>
        </div>
      </div>
    </div>
</section>